#content {

}

.profile, .user-login-form {
  display:grid;

  $gridTemplateColumns:
  "[full-start] minmax(0em, 1fr) [main-start] minmax(0, 1000px) [main-end] minmax(0em, 1fr) [full-end];";

  grid-template-columns: #{$gridTemplateColumns};

  > * {
    grid-column:main-start;
  }

}

.header-section,
.share-section {

}

.node--view-mode-full .node__content {
  display:grid;

  $gridTemplateColumns:
  "[full-start] minmax(0em, 1fr) [main-start] minmax(0, 1000px) [main-end] minmax(0em, 1fr) [full-end];";

  grid-template-columns: #{$gridTemplateColumns};

  padding-top: 2rem;

  > * {
    grid-column:main-start;
  }

  .text-formatted {
    grid-column:full-start/full-end;
    grid-gap: 0 20px;
    display:grid;
    grid-template-columns: #{$gridTemplateColumns};

    > * {
      grid-column:main-start;
    }
    > blockquote,
    > .entity-hunger_fact-default,
    > .entity-cta-text {
      grid-column: full-start/full-end;
    }
  }

}

.page-node-type-partner .node--view-mode-full .node__content,
.page-node-type-profile .node--view-mode-full .node__content {
  $gridTemplateColumns:
  "[full-start] minmax(0em, 1fr) [side-start] minmax(0, 460px) [main-start] minmax(0, 800px) [main-end] minmax(0em, 1fr) [full-end];";

  grid-template-columns: #{$gridTemplateColumns};

  padding: 6rem 4rem;
  @include breakpoint($min960) {
    padding-top: 8rem;
  }

  .text-formatted {
    grid-gap: 0;
  }

  .side-section, .main-section {
    margin: 0 auto 2rem;
  }

  .side-section {
    grid-column:side-start/main-end;
    @include breakpoint($min960) {
      grid-column:side-start/main-start;
      padding: 0 4rem 0 0;
    }
  }
  .main-section {
    grid-column:side-start/main-end;
    @include breakpoint($min960) {
      grid-column:main-start/main-start;
      padding: 0 0 0 4rem;
    }
  }
}
