[id="footer"] .menu--main,
.menu--footer,
.menu--footer-social-media-links {

  li{
    display: inline-block;
  }

}

[id="footer"] .menu--main,
.menu--footer {
  margin-bottom: 30px;
}

.menu--footer {

  li {
  	margin-right: 30px;

    @include breakpoint($min480) {
  	  margin-right: 40px;
    }

    &:last-child {
      margin-right: 0;
    }

  }

}

[id="footer"] .menu--main,
.menu--footer-social-media-links{
  display: inline-block;
}
.menu--header-social-media-links{
  @include breakpoint($min1024) {
    margin: -3px 0 0 10px;
  }
}

.menu--header-social-media-links,
.menu--footer-social-media-links{
  li{
    display: inline-block;
    padding: 0;
    + li{
      margin-left: 10px;
    }
  }
  a {
    display: block;
    width: 2.9rem; //size of the icons
    height: 2.9rem;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-indent: -9999px;
    margin: 1rem .5rem;

    &:before {
      @include icon(nkh);
      color: $nkh-lightgrey;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      text-indent: 0;
      transition: all .2s;
      font-size: 24px;
    }

    &:after {
      content: none;
    }


  }
  [data-drupal-link-system-path="<front>"]:before{
    content: $icon-logo;
  }
  [href*="facebook"]:before {
    content: $icon-facebook;
  }
  [href*="twitter"]:before {
    content: $icon-twitter;
  }

  &.block {
    margin-top: 0;
  }

}
.menu--footer-social-media-links{
  [data-drupal-link-system-path="<front>"]:before{
    content: $icon-logo;
  }
  [href*="instagram"]:before {
    content: $icon-instagram;
  }
  [href*="youtube"]:before {
    content: $icon-youtube;
  }

  a{
    &:hover, &:focus, &:active {
      &:before {
        color: $nkh-footer-lightergrey;
      }
    }
  }
  li{
    &:first-child{
      display: block;
      clear: both;
      a{
        width: 200px;
        height: 100px;
        display: block;
        margin: 0;
        &:before{
          font-size: 87px;
          color: $white;
        }
      }
    }
  }
}

[id="footer"] {
  padding: 50px 0 100px;
  background: $nkh-darkergrey;
  font-size: 14px;

  @include breakpoint($min480) {
    font-size: 16px;
  }

  li {
    padding-left: 0;

    a {
      color: $white;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
    }

    &:before {
      display: none
    }

    li {
      a{
        color: $nkh-lightgrey;
        font-weight: 400;
        text-transform: none;
        }
      }
    }

    .block--footer-logo {
      @include breakpoint($min1024) {
        width: 26%;
        float: left;
      }
    }

    .menu--main {
      @include breakpoint($min1024) {
        width: 72%;
        float: right;
      }

    	.menu {
        & > li {
          width: 48%;
          vertical-align: top;
          margin-right: .5%;
          margin-bottom: 30px;

          @include breakpoint($min1024) {
            width: 23.5%;
            margin-right: 1%;
      	  }

          a {
            padding-bottom: 10px;
            display: block;
          }

          &:last-child {
            margin-right: 0;
          }

          li {
  	         width: 100%;
  		       line-height: 1.2;
             margin-bottom: 0;
  	      }

        }

    	}

    }

    a {
      &:hover {
       color: $nkh-footer-lightergrey;
      }
    }

    .block--address {
      font-size: 12px;

  	  @include breakpoint($min768) {
  	    font-size: 14px;
  	  }

    }

}

.block--address {

  display: block;
  color: $nkh-lightgrey;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  margin: 0;

  @include breakpoint($min768) {
    display: inline;
    margin: 0 7px 0 0;
  }

  a {
    display: block;

    @include breakpoint($min1024) {
      display: inline;
    }

  }

}
