[id="footer"] .menu--main{
  display: inline-block;
  margin: 2rem 0 3rem;
}
nav.block-menu:not(.menu--header-social-media-links , .menu--footer-social-media-links) {
  li:before{
    display: none
  }
}

.menu--footer {
  display: inline;

  li {
    display: inline-block;
    margin-right: 1%;
    width: 48%;
  }

  //set it inline from here
  @media (min-width: 700px){


  }
  @include breakpoint($min768) {
    margin: 0;
    ul, li{
      display: inline;
      margin-right: 40px;
    }
    li:last-child {
      margin-right: 0;
    }
  }
  @include breakpoint($min1024) {
    margin: 0;
  }

}


.menu--header-social-media-links,
.menu--footer-social-media-links {
  a {
    display: block;
    padding: 0;
    position: absolute !important;
    height: 20px;
    width: 20px;
    overflow: hidden;
    white-space: nowrap;
    &:after {
      content: none;
    }
    &, &:hover, &:focus{
      color: transparent;
      background: transparent;
    }
  }

  li {
    &:before {
      @include icon(nkh);
      color: $nkh-lightgrey;
      display: block;
      position: absolute;
      transition: all .2s;
      background: none;
      margin: 0;
    }    
    &:hover{
      &:before{
        color: $nkh-darkgrey;
      }
    }
  }
  .facebook:before {
    content: $icon-facebook;
  }
  .twitter:before {
    content: $icon-twitter;
  }
}

.menu--header-social-media-links{
  &.block {
    margin-top: 2rem;
    @include breakpoint($min768) {
    margin-top: 0;
    }
    @include breakpoint($min1024) {
      margin: 1.3rem 0 0 1.5rem;
    }
    @include breakpoint($min1260) {
      margin-left: 2.5rem;
    }
  }
  li{
    display: inline-block;
    vertical-align: top;
    padding: 0;
    + li{
      margin-left: 3rem;
      @include breakpoint($min1024) {
        margin-right: 3rem;
      }
      @include breakpoint($min1260) {
        margin-left: 3.8rem;
        margin-right: 3.8rem;
      }
    }
    &:before{
      font-size: 1.8rem;
    }
  }
}


.menu--footer-social-media-links{
  margin: 3rem 0 5rem;
  @include breakpoint($min768) {
    width: 40%;
  }
  @include breakpoint($min1024) {
    width: auto;
  }
  li{
    &.home:before{
      content: $icon-logo;
    }
    &.instagram:before {
      content: $icon-instagram;
    }
    &.youtube:before {
      content: $icon-youtube;
    }
  }

  li{
    padding: 0;
    &:before{
      font-size: 2.6rem;
    }
    &:hover, &:focus, &:active {
      &:before {
        color: $nkh-footer-lightergrey;
      }
    }
    &:first-child{
      display: block;
      clear: both;
      margin-top: -1rem;
      height: 85px;
      a{
        width: 180px;
        height: 85px;
        display: block;
        margin: 0;
      }
      &:before{
        font-size: 84px;
        color: $white;
      }
    }
    &:nth-child(2){
      margin-left: 0;
    }
    + li{
      margin-left: 48px;
    }
  }
}
[id="footer"] .menu--main,
.menu--footer-social-media-links{
  display: block;
  @include breakpoint($min768) {
    display: inline-block;
    margin: 5rem 0;
  }
  @include breakpoint($min1024) {
    display: inline-block;
    margin: 6rem 1.2rem 5rem 0;
  }
  li{
    display: inline-block;
  }
}

[id="footer"] {
  padding: 50px 0 170px;
  background: $nkh-darkergrey;
  font-size: 12px;
  @include breakpoint($min480) {
    font-size: 14px;
  }
  @include breakpoint($min1024) {
    padding-bottom: 50px;
  }
  .inner-wrapper{
    margin: 0 auto;
    padding: 0 2rem;
    @include breakpoint($min768) {
      max-width: 100%;
    }
    @include breakpoint($min1024) {
      max-width: 1200px;
      padding: 0;
    }
  }
  nav:not(.menu--footer-social-media-links) {
    li:before {
      display: none    
    }
    a {
      color: $white;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
       color: $nkh-footer-lightergrey;
      }
    }
  }
  li.menu-item {
    padding-left: 0;
    li.menu-item {
      a{
        color: $nkh-lightgrey;
        font-weight: 300;
        text-transform: none;
      }
      &:hover, 
      &:focus{
        a{
          color: $white;
        }
      }
    }
  }
  .menu--main {
    width: 100%;
    @include breakpoint($min768) {
      width: 58%;
      vertical-align: top;
    }
    @include breakpoint($min1024) {
      width: 72%;
      float: right;
    }
    .menu {
      & > li {
        width: 48%;
        vertical-align: top;
        margin-right: .5%;
        margin-bottom: 10px;
        @include breakpoint($min1024) {
          width: 23.5%;
          margin-right: 1%;
        }
        a {
          padding-bottom: 10px;
          display: block;
        }
        &:last-child {
          margin-right: 0;
        }
        li {
          width: 100%;
          line-height: 1.2;
          margin-bottom: 0;
        }
      }
    }

  }

  .block-newslettersignupform-2,
  .block-donate-2 {
    display: none;
    margin: 0;
  }

  @include breakpoint($min1024) {
    & > *{
      vertical-align: top;
    }

    .block-mobilecommonssignup,
    .menu--footer {
      display: inline-block;
    }
    .block-newslettersignupform-2,
    .block-donate-2 {
      margin-top: -1.1rem;
      display: inline-block;
    }
    .header-newsletter-form__toggle{
      background-color: $nkh-lightgrey;
      padding: 0;
        span:first-of-type {
        padding: 1.1em 0 1em;
        display: block;
        width: 100%;

      }
    }
    .block-newslettersignupform-2{
      position: absolute;
      right: 0;
      margin-right: 15.4rem;

      &:hover, &:active, &:focus {
        .header-newsletter-form__toggle{
          background-color: #4d545d;
        }
      }
    }
    .block-donate-2  {
      float: right;
    }
    .menu--footer-social-media-links  {
      float: left;
      clear: both;
    }
  }
}
.block-address {
  clear: both;
  font-size: 12px;
  display: block;
  margin: 0;
  @include breakpoint($min768) {
    font-size: 14px;
    display: block;
    margin: 0 7px 0 0;
  }
  *{
    color: $nkh-lightgrey;
    font-weight: 300;
    text-decoration: none;
    font-style: normal;
    @include breakpoint($min768) {
      display: inline;
      margin: 0 7px 0 0;
    }
  }
  a {
    display: block;
    @include breakpoint($min1024) {
      display: inline;
    }
  }
}
