#header {
  width: 100%;
  bottom: 0;
  position: fixed;
  z-index: 1000;
  min-height: 140px;
  background: white;
  //height: auto;
  @include breakpoint($min1024) {
    height: auto;
    position: relative;
  }
  .nkh-logo {
    position: fixed;
    bottom: 6rem;
    left: 2rem;
    @include breakpoint($min1024) {
      position: relative;
      display: block;
      left: 0;
      top: 1rem;
    }
  }
  div[class*="block-newsletter"]{
    &.closed,
    &.open {
      display: inline-block;
      position: relative;
      text-align: right;
    }
  }
}

.nkh-logo {
  max-width: 150px;
  height: 67px;
  display: block;
  .st0{
    fill:#231F20;
  }
  .st1{
    fill:#F16722;
  }
  .st2{
    fill:#717275;
  }
  @include breakpoint($min1024) {
    max-width: 180px;
    height: 80px;
  
  }
}

.logo-link:after {
  content: none;
}

#block-nkh-branding {
  display: none;
}

.sos-logo {
  enable-background:new 0 0 237 104.7;
  display: block;
  max-width: 200px;
  margin-top: 20px;
  .st0{
    fill: $nkh-lightgrey;
  }
  @include breakpoint($min1024) {
    max-width: 170px;
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-top: -60px;
  }
  @include breakpoint($min1120) {
    max-width: 200px;
    margin-right: 23px;
    margin-top: -60px;
  }
}
