#header {
  width: 100%;
  bottom: 0;
  position: fixed;
  z-index: 1000;
  .inner-wrapper{
    width: 100%;
    max-width: 100vw;
    height: 100%;
    margin: 0;
  }
  .header-wrapper{
    background: white;
    min-height: 140px;
    width: 100%;
    z-index: 0;
    bottom: 0;
    position: absolute;
    box-shadow: 0 -1px 3px rgba($nkh-text, .8);
    @include breakpoint($min1024) {
      min-height: 115px;
      position: relative;
      box-shadow: none;
    }

  }
  @include breakpoint($min1024) {
    height: auto;
    position: relative;
    .inner-wrapper{
      max-width: 1320px;
      padding: 0 10px;
    }
  }
  @include breakpoint($min1260) {
    .inner-wrapper{
      margin: 0 auto;
    }  
  }
  .logo-link{
    max-width: 170px;
    display: block;
    height: 88px;
    @include breakpoint($min1024) {
      max-width: 150px;
    }
  }
  .nkh-logo {
    position: fixed;
    bottom: 6.5rem;
    left: 2rem;
    @include breakpoint($min1024) {
      position: relative;
      display: block;
      left: 0;
      top: 2.3rem;
    }
  }
  div[class*="block-newsletter"]{
    &.closed,
    &.open {
      display: inline-block;
      position: relative;
      text-align: right;
    }
  }
}
.path-frontpage{
  #header .header-wrapper{
    @include breakpoint($min1024) {
      min-height: 89px;
    }    
  }  
}
.nkh-logo {
  max-width: 150px;
  height: 67px;
  display: block;
  .st0{
    fill:#231F20;
  }
  .st1{
    fill:#F16722;
  }
  .st2{
    fill:#717275;
  }
}

.logo-link:after {
  content: none;
}

#block-nkh-branding {
  display: none;
}

.sos-logo {
  enable-background:new 0 0 237 104.7;
  display: block;
  max-width: 200px;
  margin-top: 20px;
  .st0{
    fill: $nkh-lightgrey;
  }
  @include breakpoint($min1024) {
    max-width: 170px;
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-top: -60px;
  }
  @include breakpoint($min1120) {
    max-width: 200px;
    margin-right: 23px;
    margin-top: -60px;
  }
}
