/**
 * Pager
 */

/* A list of page numbers when more than 1 page of content is available. */
.pager {
  clear: both;
  padding: 0 0 3rem;
  text-align: center;
  @include breakpoint($min1024) {
    padding-bottom: 5rem;
  }  
}
.pager__item {
  display: inline-block;
  padding: 0 0.5em;
  list-style-type: none;
  background-image: none;
  a {
    text-decoration: none;
    &:after {
      content: "";
      height: 2px;
      width: 100%;
    }
    &:hover, &:active, &:focus {
      &:after {
        background: $nkh-orange !important;
      }
    }
  }
  &:before {
    content: none;
  }
  &.is-active {
    a:after{
        background: $nkh-orange;
    }
  }
}


.pager__item--first,     // The first page's list item. */
.pager__item--previous,  // The previous page's list item. */
.pager__item--next,      // The next page's list item. */
.pager__item--last {

}
