[class*="block-donate"]{
  &.block{
    position: fixed;
    bottom: 0;
    padding: 0;
    width: 100%;
    .field{
      margin: 0;
    }
    @include breakpoint($min1024) {
      position: relative;
      bottom: auto;
      width: 124px;
      margin-top: -.2rem;
      display: inline-block;
      vertical-align: top;
      @include clearfix;
    }    
    @include breakpoint($min1260) {
      margin-left: .3rem;
    }    
  }
  .field--type-text-with-summary{
    padding: 0;
    a{
      width: 100%;
      color: $white;
      background-color: $highlight;
      display: block;
      @include link-button;
      -webkit-mask-size: 60%;
      padding: 15px 0;
      line-height: 1.3;
      letter-spacing: .025em;
      &:after{
        content: " To No Kid Hungry";
        text-transform: uppercase;
        background: none;
        display: inline-block;
        width: auto;
        top: 0;
        margin-left: 6px;
      }
      &:hover{
        background-color: $nkh-darkorange;
      }
    }
    ul{
      display: none;
      position: absolute;
      width: 100%;
      z-index: 99;
    }
    @include breakpoint($min1024) {
      position: relative;
      margin: 0;
      a{
        @include link-button;
        -webkit-mask-size: 200%;
        height: 48px;
        line-height: 1.3;
        text-align: center;
        margin-bottom: -1px;
        transition: .25s background-color ease-in;
        &:after{
          content: none;
        }
      }
      ul{
        display: none;
        position: absolute;
        width: 100%;
      }
      li{
        margin: 0;
        padding: 0;
        a{
          font-size: 11px;
        }
      }
      &:hover ul{
        display: block;
      }
    }
  }
}
