//Image view mode for WYSIWYG
//embedded-entity is not being used for styling.
//In this case, it's mainly just a wrapper for the classes below
//So we can be more specific about targeting the right divs.
.text-formatted{
  .media-image{
    &.view-mode-embed{
      display: block;
      width: auto;
      margin: 0 auto 3rem;
      img{
        display: block;
        margin: 0 auto;
      }
      @include breakpoint($min1024) {
        float: left;
        margin: 0 2rem 1rem 20%;
        max-width: 50%;
      }
      @include breakpoint($min1600) {
        margin-left: 30rem;
      }
    }
    &.view-mode-large,
    &.view-mode-small{
      display: block;
      margin-bottom: 2%;
      .field{
        margin: 0
      }
      .text-formatted{
        position: absolute;
        left: 0;
        margin: 0;
        padding: 0;
        bottom: 0;
        max-width: 100%;
        p{
          background: rgba($black, .75);
          color: $white;
          font-size: 14px;
          line-height: 1.4;
          padding: 0.7rem 1rem;
          margin: 0;
          width: auto;
          display: inline-block;
        }
      }
    }
    // &.view-mode-large{
    //   width: 100vw;
    //   display: block;
    //   margin: 0 auto;
    //   max-width: 1600px;
    // }
    &.view-mode-small {
      @include breakpoint($min768) {
        float: left;
        margin-right: 4rem;
        margin-left: calc(-25% - 4rem);
        width: 75%;
        // .inner-wrap {
        //   max-width: 760px;
        //   position: relative;
        // }
      
        + .view-mode-small {
          margin-left: 0;
          margin-right: calc(-25% - 4rem);
          + .view-mode-small {
            margin-right: 4rem;
            margin-left: calc(-25% - 4rem);
            + .view-mode-small {
              margin-left: 0;
              margin-right: calc(-25% - 4rem);
              + .view-mode-small {
                margin-right: 4rem;
                margin-left: calc(-25% - 4rem);
                + .view-mode-small {
                  margin-left: 0;
                  margin-right: calc(-25% - 4rem);
                }
              }
            }
          }
        }
      }
    }

    &.view-mode-feature-caption .inner-wrap{
      width: 100%;
      padding: 0 2vw;
      @include breakpoint($min1024) {
        display: flex;
        align-items: center;
      }
      .field--type-image{
        img{
          display: block;
          margin: 0 auto;
        }
        @include breakpoint($min1024) {
          order: 2;
          max-width: 49%;
        }
      }
      .field--type-image,
      .text-formatted{
        margin: 0 0 2% 0;
      }
      .text-formatted{
        color: $nkh-darkergrey;
        position: relative;
        text-decoration: none;
        letter-spacing: -0.025em;
        @include grit-clip-gray;

        @include breakpoint($min1024) {
          order: 1;
          max-width: 36%;
          margin-right: 15%;
        }
        *{
          line-height: 1.29;
          font-weight: 700;
        }
        p {
          margin: 0.5em 0;
        }
        strong{
          margin-left: 1.1rem;
          margin-right: .5rem;
          @include large-text-highlight;
        }
        font-size: 3rem;
        @include breakpoint($min768) {
          font-size: 4.4rem;
        }
        @include breakpoint($min1024) {
          font-size: 6rem;
        }
      }
      .field--name-field-caption {

          padding: 0 1rem;
          @include breakpoint($min1024) {
            width: 50%;
            max-width: none;
            margin-right: 4rem;
          }

      }
    }
    &.view-mode-feature-caption + .view-mode-feature-caption {
      .text-formatted{
        color: $nkh-darkergrey;
        position: relative;
        text-decoration: none;
        letter-spacing: -0.025em;
        @include grit-clip-gray;

        @include breakpoint($min1024) {
          order: 2;
          margin-right: 0;
          margin-left: 4rem;
        }
      }
    }
  }

  + .media-image.view-mode-small{
    @include breakpoint($min768) {
      margin-right:0;
    }
  }
}
//this is for WYSIWYG to have the same margin
//for the .embedded-entity .media-image.view-mode-small block
//we need to go a level above since ckeditor throws in an extra parent div
.cke_widget_wrapper{
  + .cke_widget_wrapper .embedded-entity .media-image.view-mode-small{
    @include breakpoint($min768) {
      margin-right:0;
    }
  }
}
