.header-newsletter-form__toggle { //the toggle icon
  display: none;
  span:last-of-type {
    @include element-invisible-off;
    @include element-invisible;
  }
  @include breakpoint($min1024) {
    text-align: center;
    border-radius: 0;
    display: block;
    @include link-button;
    -webkit-mask-size: 200%;
    padding: 0;
    width: 156px;
    letter-spacing: .025em;
    line-height: 1.4;
    background-color: $nkh-darkergrey;
    @include notouchhover {
      background-color: $nkh-darkergrey;
    }
    &:hover,
    &:focus{
      background-color: $nkh-darkgrey-hover;
    }
    span:first-of-type {
      padding: 16px 0;
      display:  block;
      font-weight: 700;
      color: $white;
      text-transform: uppercase;
      @include breakpoint($min1260) {
        padding: 16px 0 13px;
      }
    }
  }
}

div[class*="block-newsletter"] {
  color: $nkh-text;
  padding: 0;
  display: block;
  position: relative;
  vertical-align: text-bottom;
  width: auto;
  margin: 0 2rem;
  @include clearfix;

  .text-formatted{
    display: block;
    margin: 0;
    @include breakpoint($min1024) {
      display: inline-block;
    }
  }
  input {
    border-color: rgba($nkh-text, .6);
    font-size: 1.6rem;
    padding: .5rem 1rem;
    width: 100%;

    &:hover, &:focus, &:active {
      border-color: rgba($nkh-text, 1);
    }

    &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, placeholder {
      //color: $white !important;
    }
  }
  input[type="checkbox"] {
    width: auto;
    float: left;

  }

  input[type="submit"], button[type="submit"] {
    @include link-button;
    background-color: $highlight;
    -webkit-mask-size: 400px;
    color: $white;
    text-transform: uppercase;
    width: 100%;
    border-radius: 0;
    &:hover,{
      background-color: $nkh-darkergrey;
      border: 0 none;
    }
  }
  input {
    width: 100%;
    padding-left: 1rem;
    background: $white;
    color: $nkh-text;
    margin-bottom: 1rem;
    &:hover{
      border: 1px solid $nkh-darkergrey;
    }
  }
  .required{
    font-size: 0;
    &:before{
      content: "*";
      font-size: 1.5rem;
      margin-left: -.5rem;
    }
  }
  label.wrapable{
    display: block;
    &:before{
      position: absolute;
      margin-top: .2em;
    }
  }

  .Explicit {
    text-align: left;
    line-height: 1.6rem;
    font-size: 12px;
    margin-bottom: 1rem;
    display: inline-block;
    padding-left: 2.5rem;
  }
  p{
    margin: 0;
    line-height: 1;
  }

  label {
    display: block;
    width: 100%;
    padding: .5rem 0;
    margin: 0;
    text-align: left;
    font-size: 16px;
  }


  @include breakpoint($min1024) {
    display: inline-block;
    width: auto;
    margin: -.2rem 1.5rem 0 0;
    text-align: center;
    &:hover, &:active, &:focus {
      .header-newsletter-form__toggle{
        background-color: $nkh-darkergrey-button;
      }
    }
    form {
      position: absolute;
      z-index: 100;
      right: 0;
      top: 2.5rem;
      width: 380px;
      height: auto;
      padding: 2rem 3rem;
      border: 2px solid rgba($nkh-text, .2);
      background: rgba($white, 0.9);
      color: $nkh-text;
      transition: all .3s;
      overflow: hidden;
      clear: both;
      @include clearfix;
    }
    label{
      font-size: 14px;
    }
    &.closed form,
    form{
      opacity: 0;
      display: none;
    }

    &.open-item {
      form {
        opacity: 1;
        display: block;
      }
    }
  }
  @include breakpoint($min1120) {
    margin-right: 2rem;
  }

}

.newsletter-signup{
  &:before{
    content: 'Sign Up for Our Newsletter';
    margin-bottom: 1rem;
    display: block;
    /* text-align: left; */
    /* font-size: 2rem; */
    font-weight: 700;
    text-transform: uppercase;
  }
}
@include breakpoint($min1024) {
  .newsletter-signup{
    &:before{
      content: none;
    }
  }
  .header .block--search.open-item ~ .block--newsletter {
    width: 5.6rem; //width of the button
    .header-newsletter-form__toggle span {
      display: none;
    }
    form { //hide the form
      @include element-invisible;
    }
  }
}

.alert-success[style="display: none;"],
.alert-success2[style="display: none;"] {
  text-align: center;

  ~ * {
    opacity: 1;
    transition: all .2s;
  }

}

.alert-success:not([style="display: none;"]),
.alert-success2:not([style="display: none;"]) {
  ~ * {
    opacity: 0;
    display: none;
  }
}
.header .mobile .block--newsletter {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.cta-form__toggle {
  text-decoration: underline;
  display: inline;
  height: auto;
  font-weight: 700;
  background: none transparent;

  &:active, &:hover, &:focus {
    background: none transparent;
  }
}
// .visible
.cta-form__fields {
  height: 400px;
  @include breakpoint($min960) {
    height: 200px;
  }
}

.cta-form__group {
  display: block;
  max-width: 400px;
  margin: 0 auto;
  @include breakpoint($min960) {
    display: inline-block;
    width: 30%;
    margin: 0 1%;
  }
}

form.cta-form__fields {
  // height: 0;
  // overflow: hidden;
  // transition: height .2s;
  font-size: 1.6rem;

  input {
    border-color: rgba($nkh-text, .6);
    font-size: 1.6rem;
    padding: .5rem 1rem;
    width: 100%;

    &:hover, &:focus, &:active {
      border-color: rgba($nkh-text, 1);
    }

    &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, placeholder {
      //color: $white !important;
    }
  }

  input[type="checkbox"] {
    width: 1px !important;
    padding: 0 !important;
  }

  input[type="submit"], button[type="submit"] {
    @include link-button;
    background: url(../../images/nkh-canvas-darkgrey.png);
    background-color: $highlight;
    -webkit-mask-size: 350px;
    color: $white;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    width: auto;
    padding: 1rem 2rem;
    border-radius: 0;
    border: 0;
    &:hover,{
      background-color: $nkh-darkergrey;
      border: 0 none;
    }
  }
  input {
    width: 100%;
    padding-left: 1rem;
    background: $white;
    color: $nkh-text;
    margin-bottom: 1rem;
    &:hover{
      border: 1px solid $nkh-darkergrey;
    }
  }
  .required{
    @include element-invisible;
    &:before{
      content: "*";
      font-size: 1.5rem;
      margin-left: -.5rem;
    }
  }
  .wrapable{
    &:before{
      position: absolute;
      margin-top: .2em;
    }
  }

  .Explicit {
    text-align: left;
    line-height: 1.6rem;
    font-size: 12px;
    margin-bottom: 1rem;
    display: inline-block;
    padding-left: 2.5rem;
  }

}
