button.header-search-form__toggle {
  display: none;
  @include icon(nkh);
  @include breakpoint($min1024) {
    display: inline-block;
    width: 5.6rem;
    padding: 1.4rem;
    background: $white;
    border-radius: 0;
    outline: none;
    vertical-align: top;
    &:hover,
    &:focus {
      background-color: transparent;
      &:after{
        color: $nkh-darkgrey;
      }
    }
    &:after {
      content: $icon-search;
      color: $nkh-lightgrey;
    }
  }
}

.block-search.block {
  display: inline; 
  padding: 1rem 0;
  position: relative;  
  vertical-align: top;
  form{
    width: 91vw;
    margin: 0 0 0 2rem;

  }
  .form-type-search,
  .form-actions{
    vertical-align: top;
    display: inline-block;
    margin: 0;
    input{
      width: 100%;
    }
  }
  .form-type-search{
    width: 79.2%;
    input{
      padding: 1.05rem 1rem;
    }
  }
  .form-actions{
    width: 21%;
    margin: 0 0 0 -1rem;
    input{
      height: 45px;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  @include breakpoint($min1024) {
    transition: width .3s;
    form {
      //make the whole form look like an input on mobile
      font-family: $sans;
      color: $nkh-text;
      font-size: 1.4rem;
      line-height: 1.63;
      transition: all .2s;
      border: 2px solid rgba($nkh-orange, .2);
      border-radius: .2rem;
      background: $white;
      padding: 1rem 1rem 1rem 0.8rem;
      position: absolute;
      width: 330px;
      margin: -1rem 0 0 0;
      right: 0;
      z-index: 100;

      transition: all .3s;
    }
    .form-type-search{
      margin-bottom: 0;
      width: 200px;
      input{
        padding: 1.3rem 1rem;
      }
    }
    .form-actions{
      margin: 0;
      width: 100px;
    }
    .form-submit {
      display: block;
      float: left;
      padding: 1rem 0;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 0;
      width: 100%;
      @include breakpoint($min1024) {
        width: 100px;
      }

    }
    &.closed,
    &.open {
      overflow: hidden;
      text-align: right;
    }

    &.closed form,
    form{
      opacity: 0;
      display: none;
    }
    &.open {
      form {
        opacity: 1;
        display: block;

        input[type="text"] {
          color: $nkh-text;
          background: $white;
        }
      }
    }
  }
}

.mobile .block-search {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}
