.share-this {
  ul {
    display: inline-flex;
  }
  li:before {
    content: none;
  }
  .share-link {
    display: inline-block;
    background: blue;
    &__twitter {

    }
    &__facebook {

    }
  }
}
