// Define baseline lineheight
$lineheight: 1.6em;

// Define a border style
$border: 1px solid #ccc;

// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;

// Rem with pixel fallback
@mixin font-size($sizeValue: 16) {
  font-size: $sizeValue + px;
  font-size: ($sizeValue / 10) + rem;
  // @TODO calculate lineheight using font-size, x-height and some type of ratio
  // x-height and ratio would be variables
  // provide a way to override or omit
  // different ratio for headings?
}

body{
  @include font-size(18);
  line-height: $lineheight;
  font-family: $base-font-family;
  min-width: $min-width;
  color: $gray;
  @include breakpoint($all-devices) {
    &.noscroll {
      overflow: hidden;
      height: 100%;
      width: 100%;
      position: fixed;
    }
  }
}

//Define your custom font styles for selectors here
h1 {
  font-family: $base-heading-font;
}
// Heading style
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-heading-font;
}
a {
  color: $highlight;
  text-decoration: none;
}
hr {
  border-bottom: $border;
}

cite {
  @include font-size(16);
  display: block;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.1rem;

}
.intro {
  font-size: 1.5em;
  line-height: 1.5em;
}
// Global button styling
.button-link,
%button {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  display: inline-block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
  background-color: $highlight;
  color: #fff;
  font-family: $sans;
  line-height: 40px;
  height: 40px;
  padding: 0 20px;
  @include notouchhover {
    background-color: lighten($highlight, 10);
  }
}
#logo img {
  max-width: 160px;
}
main {
  p, li{
    font-weight: 400;
  }
  p, li, span{
    a{
      text-decoration: underline;
      font-weight: 700;
      &:hover{
        color: $nkh-darkorange;
      }
    }
  }


  ul{
    margin-left: 0;
    padding-left: 0;
    li{
      padding-left: 2em;
      list-style: none;
      &:before{
        width: 1.25rem;
        height: 1.25rem;
        content: " ";
        background-size: 100% 100%;
        //background: image goes here repeat center 80% $nkh-orange;
        position: absolute;
        margin-left: -3rem;
        margin-top: .6rem;
      }
    }
  }
  li{
    margin: 0 0 .5rem;
  }
  blockquote{
    & *{
      font-weight: 700;    
    }  
  }
}

h2, h3, h4, h5{
  color: $nkh-darkergrey;
}


h2 {
  font-size: 2.4rem;
  @include breakpoint($screen-mobile) {
    font-size: 2.6rem;
  }

  @include breakpoint($lg-mobile) {
    font-size: 3rem;
  }

  @include breakpoint($tablet) {
    font-size: 3.2rem;
  }

  @include breakpoint($desktop) {
    font-size: 3.6rem;
  }
}
h3 {
  font-size: 2rem;
  @include breakpoint($screen-mobile) {
    font-size: 2.2rem;
  }

  @include breakpoint($lg-mobile) {
    font-size: 2.6rem;
  }

  @include breakpoint($tablet) {
    font-size: 2.8rem;
  }
}

blockquote{
  font-size: 2.8rem;

  border: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  //-webkit-mask: image goes here
  -webkit-mask-size: 50%;
  line-height: 1.25em;
  letter-spacing: -0.04em;
  p {
    margin: 0.5em 0;
  }

  strong{
    margin-left: 1.1rem;
    margin-right: .5rem;
    background: linear-gradient($white 60%, $nkh-orange 40%);
    background: -o-linear-gradient($white 60%, $nkh-orange 40%);
    background: -moz-linear-gradient($white 60%, $nkh-orange 40%);
    background: -webkit-linear-gradient($white 60%, $nkh-orange 40%);
    background: -ms-linear-gradient($white 60%, $nkh-orange 40%);
  }
  @include breakpoint($screen-mobile) {
    font-size: 3rem;
  }

  @include breakpoint($lg-mobile) {
    font-size: 3rem;
  }

  @include breakpoint($tablet) {
    font-size: 4.4rem;
  }  
  @include breakpoint($desktop) {
    font-size: 5.4rem;
  }
}
