.header-section { //setting defaults
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  @include grit-bg-orange;
  min-height: 20vh;

  &__has-image {
    //a proportion identical to the responsive image ratios at these breakpoints
    //landscape medium (mobile)
    min-height: 78vw;

    //landscape large (tablet)
    @include breakpoint($min768) {
      min-height: 51vw;
    }

    //hero (desktop)
    @include breakpoint($min960) {
      min-height: 37vw;
    }

  }

  .field--name-field-image-banner {
    position: absolute;
    overflow: hidden;
    height: 100%;
    top: 0;
    &, * {
      width: 100%;
      margin: 0;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: auto;
      width: auto;

      /* Preserve aspet ratio */
      min-width: 100%;
      min-height: 100%;
    }
  }

  &__overlay {
    align-self: center;
    text-align: center;
    margin: auto;
    position: relative;
    z-index: 10;
    padding: 4vw 5vw;
    box-sizing: content-box;
    max-width: 1300px;

    h1 {
      color: white;
      line-height: 1;
    }

    .field--name-field-taxonomy-series {
      text-transform: uppercase;
      font-weight: 700;

      a {
        @include grit-bg-orange;
        display: inline-block;
        margin-bottom: 1em;
        padding: .5em 1em;
        margin-bottom: 1em;
        transition: all .2s;

        &:hover, &:focus {
          &:after {
            background: white;
          }
        }
      }
    }

  }

}

.page-node-type-blog,
.page-node-type-program,
.page-node-type-news {
  h1 {
    @include grit-bg-orange;
    display: inline;
    line-height: 1.1;

    font-size: 3.8rem;
    @include breakpoint($min540) {
      font-size: 4.5rem;
    }
    @include breakpoint($min768) {
      font-size: 5rem;
    }
    @include breakpoint($min960) {
      font-size: 6rem;
    }
    @include breakpoint($min1120) {
      font-size: 8rem;
    }
  }
  .header-section__overlay {
    max-width: 1300px;
  }
}


.page-node-type-page {
  .header-section {
    background: $nkh-bone;
    margin-bottom: 6vw;
    justify-content: flex-start;
    &__has-image {
      .header-section__overlay {
        position: absolute;
        bottom: 0;
      }
    }
    &__overlay {
      margin: 0 auto;
      text-align: left;
      padding: 4vw 5vw 0;
    }
    &__big-title {
      margin-bottom: 5rem;
      padding-bottom: 4vw;
      h1 {
        @include grit-bg-orange;
        margin-left: 0;
        display: inline;

        font-size: 3.8rem;
        @include breakpoint($min540) {
          font-size: 4.5rem;
        }
        @include breakpoint($min768) {
          font-size: 5rem;
        }
        @include breakpoint($min960) {
          font-size: 6rem;
        }
        @include breakpoint($min1120) {
          font-size: 8rem;
        }
      }
    }
  }
  h1 {
    @include grit-bg-orange;
    margin-left: 14.5vw;
    display: inline-block;
  }
  .field--name-field-subtitle {
    @include grit-clip-orange;

    text-indent: 14.5vw;
    text-align: left;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0;
    line-height: .9;
    letter-spacing: -.05em;
    max-width: 90vw;

    font-size: 6rem;
    margin-bottom: -.35em;

    p {
      margin-bottom: 0;
    }

    @include breakpoint($min540) {
      font-size: 8rem;
    }
    @include breakpoint($min768) {
      font-size: 12rem;
    }
    @include breakpoint($min960) {
      font-size: 14rem;
    }
    @include breakpoint($min1260) {
      font-size: 17rem;
    }
    @include breakpoint($min1360) {
      font-size: 19rem;
    }
  }
}

.header-section__campaign {
  display: block;

  .field--name-field-intro {
    color: $white;
    a {
      color: inherit;
      &:after {
        background: $white;
      }
    }
  }

  h1 {
    margin: .5em 0;

    font-size: 3.8rem;
    @include breakpoint($min540) {
      font-size: 4.5rem;
    }
    @include breakpoint($min768) {
      font-size: 5rem;
    }
    @include breakpoint($min960) {
      font-size: 6rem;
    }
    @include breakpoint($min1120) {
      font-size: 8rem;
    }
  }
}

.intro-section {
  text-align: left;
  color: $white;
}

.header-section__has-featured-image,
.header-section__has-video {
  @include breakpoint($min1120) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: content-box;
  }
}

.header-section__has-featured-image {
  .intro-section {
    @include breakpoint($min1120) {
      width: 50%;
      padding: 0 0 0 4rem;
    }
    @include breakpoint($min1360) {
      width: 60%;
    }
  }
  .intro-section__image {
    width: 100%;
    @include breakpoint($min1120) {
      width: 50%;
      padding: 0 4rem 0 0;
    }
    @include breakpoint($min1360) {
      width: 40%;
    }
  }
}

.header-section__has-video {
  .intro-section {
    @include breakpoint($min1120) {
      width: 50%;
      padding: 0 0 0 4rem;
    }
    @include breakpoint($min1360) {
      width: 40%;
    }
  }
  .intro-section__video {
    width: 100%;
    @include breakpoint($min1120) {
      width: 50%;
      padding: 0 4rem 0 0;
    }
    @include breakpoint($min1360) {
      width: 60%;
    }
  }
}
