// for all postscript region
.region-postscript{
  
}

// the following for core-partners and national partners on homepage only.
// should NKH choose to have the views display sitewide, we will need a different strategy.
.path-frontpage{
  .region-postscript{
    max-width: 1200px;
    margin: 0 auto;
  }
}
.block-views-block-core-partners-core-partners,
.block-views-block-core-partners-national-partners{
  padding: 2rem;
  margin: 0;
  vertical-align: top;
  h2{
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    margin-left: .3rem;
    color: $nkh-text;
  }
  @include breakpoint($min768) {
    width: 49%;
    display: inline-block;    
  }
  @include breakpoint($min1024) {
    width: 49.7%;
  }
}
.block-views-block-core-partners-core-partners{
  .view-content{
    @include breakpoint($min480) {
      margin-left: 0;    
    }
    & > div{
      display: inline-block;
      vertical-align: top;
      width: 48%;
      margin-left: 1%;
      margin-bottom: 1%;

      @include breakpoint($min768) {
        vertical-align: middle;
        width: 21%;
        + div{ 
          margin-left: 2.7%;
        }      
      }
    }
  }

}
.block-views-block-core-partners-national-partners{
  .owl-carousel{
    position: relative;
  }
  .owl-stage-outer{
    width: 75%;
    margin: 0 auto;
    max-height: 120px;
  }
  .owl-stage{
    .owl-item{
      vertical-align: middle;
      @include breakpoint($min768) {
        max-width: 76px;
      }
      @include breakpoint($min1024) {
        max-width: 106px;
      }
      @include breakpoint($min1120) {
        max-width: 117px;
      }
      @include breakpoint($min1260) {
        max-width: 125px;
      }
      + .owl-item{
        margin-left: 1em;
      }
    }    
  }
  .views-field-field-image-logo{
    .field-content{
      position: relative;
    }
    a{
      margin: auto;
      display: flex;
      max-height: 100px;
      img{
        margin: auto;
        max-width: 100%;
        max-height: 100%;
      }
      &:hover,
      &:active{
        &:after{
          background: none;
        }
      }
    }
  }
  //navigation
  .owl-nav{
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 3.4rem;
    z-index: -1;
  }
  .owl-prev,
  .owl-next{
    top: 0;
  }
  .owl-prev{
    &.disabled{
      .icon-prev{
        background: rgba($nkh-lightgrey, .5);    
      }
    }
  }
  .owl-next{
    position: absolute;
    right: 0;
  }
  .icon-prev,
  .icon-next{
    color: $white;
    background: $nkh-lightgrey;
    border-radius: 50%;
    padding: 1.2rem .8rem .4rem 0.8rem;
    font-size: 2rem;
    &:hover,
    &:active{
      background: $nkh-darkgrey-hover;
    }
    @include breakpoint($min768) {
      font-size: 2.5rem;
    }
  }
}