---
title: Elements | Styleguide
fabricator: true
---

<h1>Styleguide</h1>

{{> intro}}

<h2>Heading Level 2</h2>

{{> paragraph}}

{{> blockquote}}

<h3>Heading Level 3</h3>

{{> paragraph}}

<h4>Heading Level 4</h4>

{{> lists.unordered}}

{{> paragraph}}

<h5>Heading Level 5</h5>

{{> paragraph }}

<h6>Heading Level 6</h6>

{{> lists.ordered}}

<hr />

<h2>Colors</h2>

<div class="color-chips">
  <div class="color-chip dark">
    <div class="color-chip__name">$dark</div>
  </div>
  <div class="color-chip light">
    <div class="color-chip__name">$light</div>
  </div>
  <div class="color-chip highlight">
    <div class="color-chip__name">$highlight</div>
  </div>
</div>

<div class="color-chips">
  <div class="color-chip border__nkh-orange">
    <div class="color-chip__name">$nkh-orange</div>
  </div>
  <div class="color-chip border__nkh-darkorange">
    <div class="color-chip__name">$nkh-darkorange</div>
  </div>
  <div class="color-chip border__nkh-lightgrey">
    <div class="color-chip__name">$nkh-lightgrey</div>
  </div>
</div>
<div class="color-chips">
  <div class="color-chip border__nkh-darkgrey">
    <div class="color-chip__name">$nkh-darkgrey</div>
  </div>
  <div class="color-chip border__nkh-darkergrey">
    <div class="color-chip__name">$nkh-darkergrey</div>
  </div>
  <div class="color-chip border__nkh-yellow">
    <div class="color-chip__name">$nkh-yellow</div>
  </div>
</div>
<div class="color-chips">
  <div class="color-chip border__nkh-brightyellow">
    <div class="color-chip__name">$nkh-brightyellow</div>
  </div>
  <div class="color-chip border__nkh-lightblue">
    <div class="color-chip__name">$nkh-lightblue</div>
  </div>
</div>
