/**
 * Blocks.
 */

/* Block wrapper. */
.block {
  position: relative;
}

%fadein-selector {
  transition: opacity 300ms ease 50ms;
  &.transparent {
    opacity: 0;
  }
}
.color-palettes{
  div{
  	width: 300px;
  	height: 100px;
  	padding: 10px;
  	font-size: 1.4rem;
  	vertical-align: top;
  	color: $white;
  	display: inline-block;
    margin-left: 10px;
  	margin-bottom: 10px;
  	&+& {
  	  margin-left: 10px;
  	}
  }
}

.teaser-text{
  p{
    font-weight: 400;
    color: $nkh-lightgrey;
    font-size: 3rem;
    line-height: 1.33;
    @include breakpoint($min768) {
      font-size: 3.2rem;
    }
    @include breakpoint($min1024) {
      font-size: 3.6rem;
    }  
  }
}
[id*="donate"]{
  width: 120px;
  display: inline-block;
  @include clearfix;
  .field--type-text-with-summary{
    position: relative;
    a{
      width: 120px;
      background-color: $highlight;
      color: $white;
      @include link-button;
      display: block;
      line-height: 1.3;
      text-align: center;
      margin-bottom: -1px;
      transition: .25s background-color ease-in;
    }
    ul{
      display: none;
      position: absolute;
    }
    li{
      margin: 0;
      padding: 0;
      a{
        font-size: 11px;
      }
    }
    &:hover ul{
      display: block;
    }
  }
}