/**
 * Blocks.
 */

/* Block wrapper. */
.block {
  position: relative;
}

%fadein-selector {
  transition: opacity 300ms ease 50ms;
  &.transparent {
    opacity: 0;
  }
}
.color-palettes{
  div{
    width: 300px;
    height: 100px;
    padding: 10px;
    font-size: 1.4rem;
    vertical-align: top;
    color: $white;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    &+& {
      margin-left: 10px;
    }
  }
}

.teaser-text{
  p{
    font-weight: 400;
    color: $nkh-lightgrey;
    font-size: 3rem;
    line-height: 1.33;
    @include breakpoint($min768) {
      font-size: 3.2rem;
    }
    @include breakpoint($min1024) {
      font-size: 3.6rem;
    }  
  }
}
.field--name-field-date-simple,
.field--name-field-entity-partner,
.field--name-field-entity-profile{
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: $nkh-lightergrey;
  vertical-align: top;
  font-weight: 500;
  margin-top: 0;

  .field__item{
    display: inline-block;
    margin-left: -.3rem;
    &:first-child,
    &:last-child{
      margin-left: 0;
    }
  }
}

