//this is for the background color and texture only.
//add specific content style elsewhere.
.entity--cta__orange,
.view-cta-references.view-id-cta_references > div{
  &:before,
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &:before{
    background: $nkh-orange;
    opacity: .9;
  }
  &:after{
    background: url('/themes/custom/nkh/images/nkh-canvas-orange.png') repeat;
    background-size: 1200px;
  }
}
.entity--cta-text,
.view-cta-references {
  width: 100%;
  overflow: visible;
  position: relative;
  padding: 1rem;
  @include breakpoint($min480) {
    margin-left: 0;
    margin-right: 0;
  }
  @include breakpoint($min1024) {
    padding: 2rem;
  }


  .text-formatted{
    margin: 0 auto;
    text-align: center;
    max-width: 1600px;
    position: relative;
    overflow: visible;
    z-index: 1;
  }
  *{
    color: $white;
    line-height: 1.3;
    letter-spacing: .01em;
  }
  p {
    margin: 1em 0;
  }
  a{
    display: inline;
    padding-bottom: 0;
    text-decoration: none;
    position: relative;
    border-bottom: 4px solid rgba($white, 0.95);
    &:after {
      content: none;
    }
  }
  .cta-form__fields{
    .wrapable{
      &:after {
        margin-top: -.6em;
        @media (min-width: 419px){
          margin-top: .45em;
        }
      }
    }
  }

  &:hover{
    a{
      color: $white;
    }
  }
}
// this is for the large text with white texture added entity.
// and view cta reference at the bottom of the screen.
.entity--cta-text,
.view-id-cta_references {
  display: block;
  @include large-text-sizing;
  p{
    @include grit-clip-white;
    letter-spacing: -.025em;
  }
}

//this is for the bottom cta reference in most pages
div[class*="block-views-block-cta-references-"]{
  .text-formatted{
    //width: 100vw;
    //display: block;
    max-width: 1600px;
  }
  .cta-animation{
    position: absolute;
    transform: translate(-50%, -100%) scale(0.65);
    transform-origin: bottom center;
    text-align: center;
    transition: 0.25s ease-in-out;
    top: 4rem;
    left: 50%;
    width: 300px;
    pointer-events: none;
    display: none;
    height: 300px;
    background-size: 100%;
    z-index: 100;
    @include breakpoint($min768) {
      transform: translate(-50%, -100%) scale(0.65);
      top: 5rem;
    }
    @include breakpoint($min1024) {
      display: block;
      transform: translate(-50%, -100%) scale(1);
      top: 8rem;
    }
  }
  //in case an admin uses a button instead of a link
  button{
    background: none;
  }
}

div.node__content > div.field.field--name-field-landing-link-ref {
  @include breakpoint($min1024) {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
  }

  @include breakpoint($min1680) {
    width: auto;
    max-width: none;
  }
}

.field--name-field-landing-link-ref {
  .field__item {
    margin-top: 5rem;
    + .field__item {
      margin-top: 0;
    }
    @include breakpoint($min1024) {
      &:last-of-type{
        margin-bottom: 5rem;
      }
    }
    &:nth-child(odd){
      .image-section{
        &:before{
          width: 50%;
          height: 3rem;
          top: -3rem;
          left: 0;
        }
        &:after{
          width: 3rem;
          height: 50%;
          top: 25%;
          right: 0;
        }
      }
    }
    &:nth-child(even){
      .image-section{
        &:before{
          width: 50%;
          height: 3rem;
          bottom: -3rem;
          right: 0;
        }
        &:after{
          width: 3rem;
          height: 50%;
          top: 25%;
          left: 0;
          z-index: 1;
        }
      }
    }

    &:nth-child(3n+1) {
      span.icon{
        color: $nkh-lightblue;
      }
      .landing_additional {
        span{
          background-image: linear-gradient(180deg,transparent 0,$nkh-lightblue 0);
        }
        &:hover{
          span{
            background-image: linear-gradient(180deg,transparent 0, $nkh-lightblue 0);
          }

        }
      }
      .image-section{
        &:before,
        &:after{
          background: $nkh-lightblue;
        }
      }
      a{
        &:hover{
          picture{
            &:after{
              background: $nkh-lightblue;
            }
          }
        }
      }


    }
    &:nth-child(3n+2) {
      span.icon{
        color: $nkh-brightyellow;
      }
      .landing_additional {
        span{
          background-image: linear-gradient(180deg,transparent 0, $nkh-brightyellow 0);
        }
        &:hover{
          span{
            background-image: linear-gradient(180deg,transparent 0, $nkh-brightyellow 0);
          }


        }
      }
      .image-section{
        &:before,
        &:after{
          background: $nkh-brightyellow;
        }
      }
      a{
        &:hover{
          picture{
            &:after{
              background: $nkh-brightyellow;
            }
          }
        }
      }
    }
    &:nth-child(3n+3) {
      span.icon{
        color: $nkh-green;
      }
      .landing_additional {
        span{
          background-image: linear-gradient(180deg,transparent 0,$nkh-green 0);
        }
        &:hover{
          span{
            background-image: linear-gradient(180deg,transparent 0, $nkh-green 0);
          }

        }
      }
      .image-section{
        &:before,
        &:after{
          background: $nkh-green;
        }
      }
      a{
        &:hover{
          picture{
            &:after{
              background: $nkh-green;
            }
          }
        }
      }
    }
    @include breakpoint($min1024) {
      &:nth-of-type(odd){
        .image-section{
          &:before{
            top: 7rem;
            right: -5rem;
            width: 15%;
            height: 50%;
            z-index: 1;
            left: auto;
          }
          &:after{
            width: 50%;
            height: 90%;
            top: -2rem;
            left: -3rem;
            z-index: -1
          }
        }
        .content-section{
          padding: 5rem 0 5rem 9rem;
        }
      }
      &:nth-of-type(even){
        a {flex-direction: row-reverse;}
        .image-section{
          &:before{
            top: 15rem;
            left: -4rem;
            width: 15%;
            height: 50%;
            z-index: 1;
          }
          &:after{
            right: -3rem;
            bottom: -2.5rem;
            width: 60%;
            height: 94%;
            z-index: -1;
            top: auto;
            left: auto;
          }
        }
        .content-section{
          padding: 5rem 6rem 5rem 0;
        }
      }
    }
  }
  .entity-landing-link--auto,
  .entity-landing-link--manual {
    margin-top: 0;
  }


}

.entity-landing-link--manual,
.entity-landing-link--auto,
.entity-landing_link-auto,
.entity-landing_link-manual {
  margin-top: 5rem;
  @include breakpoint($min1024) {
    width: 76vw;
    margin-left: auto;
    margin-right: auto;
    //max-width: 1000px;
  }
  // @include breakpoint($min1260) {
  //
  // }
  @include breakpoint($min1680) {
    width: 1200px;
    max-width: none;
  }
  + .entity-landing-link--manual,
  + .entity-landing-link--auto,
  + .entity-landing_link-auto,
  + .entity-landing_link-manual {
    margin-top: 0;
  }
  &:last-of-type{
    margin-bottom: 5rem;
  }

  .image-section{
    margin: 0;
    position: relative;
    &:before,
    &:after{
      content: '';
      display: block;
      -webkit-mask: url('/themes/custom/nkh/images/nkh-canvas-orange.png') 0 0;
      position: absolute;
      opacity: 1;
      mix-blend-mode: multiply;
    }
    &:before{
      -webkit-mask-size: 350%;
    }
    &:after{
      -webkit-mask-size: 3750%;
    }
  }

  picture{
    position: relative;
    width: 100%;
    overflow: hidden;
    display: block;
    @include breakpoint($min1024) {
      max-height: 375px;
    }
    @include breakpoint($min1260) {
      max-height: 450px;
    }
    &:after{
      display: block;
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      opacity: 0;
      transition: opacity .2s;
      transition-timing-function: ease-in;
    }
  }

  .content-section{
    padding: 3rem;
  }
  p{
    margin-top: 0;
    display: block;
    line-height: 1.8;
    color: $nkh-text;
    font-size: 1.6rem;
    font-weight: 300;
    span{
      display: inline;
      padding-bottom: .5rem;
    }
  }
  .landing_teaser,
  .landing_additional{
    padding: 0 0 0 2.5rem;
  }

  .landing_title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 1.5rem;
    span {
      color: #nkh-darkergrey;
    }
  }
  .landing_additional {
    font-weight: 700;
    text-transform: uppercase;
    span{
      padding-bottom: .25rem;
      background-repeat: no-repeat;
      box-shadow: none;
      -webkit-transition: background-position .2s ease-out;
      transition: background-position .2s ease-out;
      background-position: 0 1.25em;
    }
  }
  a{
    width: 100%;
    display:block;
    max-width: 600px;
    margin:20px auto;
    &:hover, &:focus{
      picture{
        &:after{
          opacity: .5;
          transition: opacity .2s;
          transition-timing-function: ease-in;
        }
      }
      span{
        background-position: 0 .6em;
      }

    }
    &:after {
      content: none;
    }
  }
  &:nth-child(odd){
    .image-section{
      &:before{
        width: 50%;
        height: 3rem;
        top: -3rem;
        left: 0;
      }
      &:after{
        width: 3rem;
        height: 50%;
        top: 25%;
        right: 0;
      }
    }
  }
  &:nth-child(even){
    .image-section{
      &:before{
        width: 50%;
        height: 3rem;
        bottom: -3rem;
        right: 0;
      }
      &:after{
        width: 3rem;
        height: 50%;
        top: 25%;
        left: 0;
        z-index: 1;
      }
    }
  }


  &:nth-child(3n+1) {
    span.icon{
      color: $nkh-lightblue;
    }
    .landing_additional {
      span{
        background-image: linear-gradient(180deg,transparent 0,$nkh-lightblue 0);
      }
      &:hover{
        span{
          background-image: linear-gradient(180deg,transparent 0, $nkh-lightblue 0);
        }

      }
    }
    .image-section{
      &:before,
      &:after{
        background: $nkh-lightblue;
      }
    }
    a{
      &:hover{
        picture{
          &:after{
            background: $nkh-lightblue;
          }
        }
      }
    }


  }
  &:nth-child(3n+2) {
    span.icon{
      color: $nkh-brightyellow;
    }
    .landing_additional {
      span{
        background-image: linear-gradient(180deg,transparent 0, $nkh-brightyellow 0);
      }
      &:hover{
        span{
          background-image: linear-gradient(180deg,transparent 0, $nkh-brightyellow 0);
        }


      }
    }
    .image-section{
      &:before,
      &:after{
        background: $nkh-brightyellow;
      }
    }
    a{
      &:hover{
        picture{
          &:after{
            background: $nkh-brightyellow;
          }
        }
      }
    }
  }
  &:nth-child(3n+3) {
    span.icon{
      color: $nkh-green;
    }
    .landing_additional {
      span{
        background-image: linear-gradient(180deg,transparent 0,$nkh-green 0);
      }
      &:hover{
        span{
          background-image: linear-gradient(180deg,transparent 0, $nkh-green 0);
        }

      }
    }
    .image-section{
      &:before,
      &:after{
        background: $nkh-green;
      }
    }
    a{
      &:hover{
        picture{
          &:after{
            background: $nkh-green;
          }
        }
      }
    }
  }
  @include breakpoint($min1024) {
    a{
      display:flex;
      max-width:100%;
      align-items: center;
    }
    .image-section,
    .content-section{
      width: 50%;
      max-height: 450px;
      margin: 0;
      align-items: start;
      div{
        margin: 0;
      }
    }
    .image-section{
      &:before{
        -webkit-mask-size: 1300%;
      }
      &:after{
        -webkit-mask-size: 300%;
      }
    }
    &:nth-of-type(odd){
      a{flex-direction: row;}
      .image-section{
        &:before{
          top: 7rem;
          right: -5rem;
          width: 15%;
          height: 50%;
          z-index: 1;
          left: auto;
        }
        &:after{
          width: 50%;
          height: 90%;
          top: -2rem;
          left: -3rem;
          z-index: -1
        }
      }
      .content-section{
        padding: 5rem 0 5rem 9rem;
      }
    }
    &:nth-of-type(even){
      a {flex-direction: row-reverse;}
      .image-section{
        &:before{
          top: 15rem;
          left: -4rem;
          width: 15%;
          height: 50%;
          z-index: 1;
        }
        &:after{
          right: -3rem;
          bottom: -2.5rem;
          width: 60%;
          height: 94%;
          z-index: -1;
          top: auto;
          left: auto;
        }
      }
      .content-section{
        padding: 5rem 6rem 5rem 0;
      }
    }
  }
}

.block-views-block-hunger-facts-data-summer {
  background: url(../../images/summer-nutrition.jpg);
}
.block-views-block-hunger-facts-data-school-breakfast {
  background: url(../../images/school-breakfast.jpg);
}
.block-views-block-hunger-facts-data-snap {
  background: url(../../images/SNAP.jpg);
}
.block-views-block-hunger-facts-data-food-insecurity {
  background: url(../../images/food-insecurity.jpg);
}

[class*="block-views-blockhunger-facts-data"] {
  max-width: 800px;
  min-height: 400px;
  margin: 4rem auto 7rem;
  position: relative;
  padding-top: 50%;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  @media all and (min-width: 940px) {
    background-size: cover;
    background-position: center center;
    padding-top: 0;
  }
  form, .form-item {
    margin: 0;
  }
  .form-actions {
    @include element-invisible;
  }
  .form-type-select, select {
    width: 100%;
    background: transparent;
    border: 0 none;
    color: $white;
    font-size: 1.8rem;
    &::-ms-expand {
      display: none;
    }
  }
  option{
    color: $nkh-text;
  }
  .form-type-select {
    position: relative;
    border: 1px solid $white;
    &:after {
      @include icon($icon-next);
      position: absolute;
      right: 1rem;
      top: 50%;
      margin-top: -1rem;
      transform: rotate(90deg);
    }
  }
}
//the content inside the hunger fact block
.hunger-fact {
  background: rgba($nkh-orange, .9);
  position: relative;
  padding: 2rem 2.5rem 3rem 3rem;
  color: $white;
  z-index: 100;
  display: flex;
  flex-direction: column;

  @media all and (min-width: 940px) {
    position: relative;
    bottom: -5rem;
    width: 50%;
    right: 7rem;
    padding: 3rem 4rem 3.5rem;
  }
  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('/themes/custom/nkh/images/nkh-tile-orange.png') 0 0/250px;
    opacity: .85;
  }
  h2 {
    //@include element-invisible;
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 0 1rem;
    color: $white;
  }
  p{
    line-height: 1.6;
    font-size: 1.6rem;
    font-weight: 300;
  }
  .view-header {
    order: 2;
  }
  .view-filters {
    order: 3;
  }
  .view-content {
    order: 1;
    font-size: 7rem;
    @include breakpoint($min540) {
      font-size: 8.5rem;
    }
  }
  label {
    @include element-invisible;
  }
}
.entity--cta-image {
  max-width: 800px;
  position: relative;
  display: flex;
  min-height:500px;
  align-items: flex-end;
  margin: 4rem auto;
  @include breakpoint($min960) {
    margin: 4rem auto 2.5rem;
  }
  > a {
    position: relative;
    display: block;
    width: 100%;
    @include clearfix;
  }
  .image-section {
    margin: 0;

    div {
      margin: 0;
    }

    img {
      opacity: .9;
      background: $nkh-orange;
    }
    picture {
      position: relative;
      display: block;
      width:100%;
      &:after {
        display: block;
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        mix-blend-mode: color;
        background: rgba($nkh-orange, .5);
      }
    }
    @include breakpoint($min768) {
      position: static;
      z-index: 1;
      * {
        position: static;
      }
      picture {
        position:absolute;
        bottom: 5rem;
      }
    }
  }
  .content-section{
    position: relative;
    z-index: 2;
    padding: 2rem 2rem 1rem 3rem;
    @include breakpoint($min768) {
      right: 7rem;
      float:right;
      width:50%;
      bottom:0;
      padding: 3rem 3rem 2.5rem 4rem;
    }

    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: url('/themes/custom/nkh/images/nkh-tile-orange.png') 0 0/250px;
      mix-blend-mode: multiply;
      opacity: .85;
    }
  }
  *{
    color: $white;
  }
  .landing_title{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 0 2rem;
    display: block;
    position: relative;
    span{
      background-image: linear-gradient(180deg, transparent 0,$white 0);
      background-repeat: no-repeat;
      background-position: 0 1.25em;
      padding-bottom: 0.5rem;
      transition: background-position .1s ease-out;
      word-break: break-word;
    }
    &:hover span{
      background-position: 0 1.15em;
    }
  }
  span.icon{
    background: none;
  }
  p{
    line-height: 1.6;
    font-size: 1.6rem;
    font-weight: 300;
  }
  a{
    &:after {
      content: none;
    }
  }
}

@include breakpoint($min768) {
  @supports (display:grid-template-columns) {
    .entity--cta-image {
      > a {
        margin-top: 0;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
      }
      .image-section {
        grid-row: 2;
        grid-column: 1/3;
      }
      .content-section {
        grid-row: 1/3;
        grid-column: 2/3;
        align-self: end;
        position: relative;
        bottom: auto;
        width: auto;
        right: 7rem;
        bottom: -5rem;
      }
    }
  }
}



//to override all span.icon class
.embedded-entity{
  margin-bottom: 1em;
  &[class*='entity']{
    .landing_title{
      span.icon{
        background-image: none;
      }
      + &:hover{
        span.icon{
          background-image: none;
        }
      }
    }
  }
}
