.entity-cta-text,
.view-cta-references {
  padding: 2rem;
  width: calc(100% + 20px);
  margin-left: -20px;
  margin-right: -20px;
  overflow: visible;
  position: relative;
  &:before,
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &:before{
    background: $nkh-orange;
    opacity: .9;
  }
  &:after{
    background: url('/themes/custom/nkh/images/nkh-canvas-orange.png') repeat;
    background-size: 1200px;
  }
  @include breakpoint($min480) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .text-formatted{
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;
    position: relative;
    overflow: visible;
    z-index: 1;
  }
  *{
    color: $white;
    line-height: 1.4;
    letter-spacing: .1rem;
  }
  p {
    margin: 1em 0;
  }
  a{
    display: inline;
    padding-bottom: .5rem;
    text-decoration: none;
    position: relative;
    border-bottom: 4px solid rgba($white, 0.95);
    &:after {
      content: none;
    }
  }
  &:hover{
    a{
      color: $white;
      &:before{
        top: 0;
        opacity: 1;
        transform: translate(-50%, -100%) scale(1) rotate(0deg);
      }
    }
  }
}
// the first one is specifically for the content added entity.
.entity-cta-text,
.view-id-cta_references {
  font-size: 4rem;
  @include breakpoint($min768) {
    font-size: 6rem;
  }
  font-weight: 700;

  a{
    &:before{
      position: absolute;
      transform: translate(-50%, -50%) scale(0.5) rotate(5deg);
      transform-origin: bottom center;
      text-align: center;
      transition: 0.15s ease-in-out;
      opacity: 0;
      top: -100px;
      left: 50%;
      width: 300px;
      z-index: 5;
      display: block;
      height: 300px;
      background: url('/themes/custom/nkh/images/btn-bingo.gif') 0 0 no-repeat;
      background-size: 100%;
      content: '';
    }
  }
  &:hover{
    a{
      &:before{
        top: 0;
        opacity: 1;
        transform: translate(-50%, -100%) scale(1) rotate(0deg);
      }
    }
  }
}

.field--name-field-landing-link-ref {
  .field__item {
    margin-top: 5rem;
    + .field__item {
      margin-top: 0;
    }
    &:last-of-type{
      margin-bottom: 5rem;
    }
    &:nth-child(odd){
      .image-section{
        &:before{
          width: 50%;
          height: 3rem;
          top: -3rem;
          left: 0;
        }
        &:after{
          width: 3rem;
          height: 50%;
          top: 25%;
          right: 0;
        }
      }
    }
    &:nth-child(even){
      .image-section{
        &:before{
          width: 50%;
          height: 3rem;
          bottom: -3rem;
          right: 0;
        }
        &:after{
          width: 3rem;
          height: 50%;
          top: 25%;
          left: 0;
          z-index: 1;
        }
      }
    }

    &:nth-child(3n+1) {
      span.icon{
        color: $nkh-lightblue;
      }
      .landing_additional {
        span{
          background-image: linear-gradient(180deg,transparent 0,$nkh-lightblue 0);
        }
        &:hover{
          span{
            background-image: linear-gradient(180deg,transparent 0, $nkh-lightblue 0);
          }

        }
      }
      .image-section{
        &:before,
        &:after{
          background: $nkh-lightblue;
        }
      }
      a{
        &:hover{
          picture{
            &:after{
              background: $nkh-lightblue;
            }
          }
        }
      }


    }
    &:nth-child(3n+2) {
      span.icon{
        color: $nkh-brightyellow;
      }
      .landing_additional {
        span{
          background-image: linear-gradient(180deg,transparent 0, $nkh-brightyellow 0);
        }
        &:hover{
          span{
            background-image: linear-gradient(180deg,transparent 0, $nkh-brightyellow 0);
          }


        }
      }
      .image-section{
        &:before,
        &:after{
          background: $nkh-brightyellow;
        }
      }
      a{
        &:hover{
          picture{
            &:after{
              background: $nkh-brightyellow;
            }
          }
        }
      }
    }
    &:nth-child(3n+3) {
      span.icon{
        color: $nkh-green;
      }
      .landing_additional {
        span{
          background-image: linear-gradient(180deg,transparent 0,$nkh-green 0);
        }
        &:hover{
          span{
            background-image: linear-gradient(180deg,transparent 0, $nkh-green 0);
          }

        }
      }
      .image-section{
        &:before,
        &:after{
          background: $nkh-green;
        }
      }
      a{
        &:hover{
          picture{
            &:after{
              background: $nkh-green;
            }
          }
        }
      }
    }
    @include breakpoint($min1024) {
      &:nth-of-type(odd){
        .image-section{
          &:before{
            top: 7rem;
            right: -5rem;
            width: 15%;
            height: 50%;
            z-index: 1;
            left: auto;
          }
          &:after{
            width: 50%;
            height: 90%;
            top: -2rem;
            left: -3rem;
            z-index: -1
          }
        }
        .content-section{
          padding: 5rem 0 5rem 9rem;
        }
      }
      &:nth-of-type(even){
        a {flex-direction: row-reverse;}
        .image-section{
          &:before{
            top: 15rem;
            left: -4rem;
            width: 15%;
            height: 50%;
            z-index: 1;
          }
          &:after{
            right: -3rem;
            bottom: -2.5rem;
            width: 60%;
            height: 94%;
            z-index: -1;
            top: auto;
            left: auto;
          }
        }
        .content-section{
          padding: 5rem 6rem 5rem 0;
        }
      }
    }
  }
  .entity-landing-link--auto,
  .entity-landing-link--manual {
    margin-top: 0;
  }


}

.entity-landing-link--manual,
.entity-landing-link--auto,
.entity-landing_link-auto,
.entity-landing_link-manual {
  margin-top: 5rem;
  + .entity-landing-link--manual,
  + .entity-landing-link--auto,
  + .entity-landing_link-auto,
  + .entity-landing_link-manual {
    margin-top: 0;
  }
  &:last-of-type{
    margin-bottom: 5rem;
  }

  .image-section{
    margin: 0;
    position: relative;
    &:before,
    &:after{
      content: '';
      display: block;
      -webkit-mask: url('/themes/custom/nkh/images/nkh-canvas-orange.png') 0 0;
      position: absolute;
      opacity: 1;
      mix-blend-mode: multiply;
    }
    &:before{
      -webkit-mask-size: 350%;
    }
    &:after{
      -webkit-mask-size: 3750%;
    }
  }
  picture{
    position: relative;
    width: 100%;
    display: block;
    &:after{
      display: block;
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      opacity: 0;
      transition: opacity .6s;
      transition-timing-function: ease-in;
    }
  }

  .content-section{
    padding: 3rem;
  }
  p{
    margin-top: 0;
    display: block;
    line-height: 1.8;
    color: $nkh-text;
    font-size: 1.6rem;
    span{
      display: inline;
      padding-bottom: .5rem;
    }
  }
  .landing_teaser,
  .landing_additional{
    padding: 0 0 0 2.5rem;
  }

  .landing_title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 1.5rem;
  }
  .landing_additional {
    font-weight: 700;
    text-transform: uppercase;
    span{
      background-repeat: no-repeat;
      box-shadow: none;
      -webkit-transition: background-position .1s ease-out;
      transition: background-position .1s ease-out;
      background-position: 0 1.25em;
    }
    &:hover span{
      background-position: 0 .5em;
    }
  }
  a{
    width: 100%;
    display:block;
    max-width: 600px;
    margin:20px auto;
    &:hover{
      picture{
        &:after{
          opacity: .5;
          transition: opacity .6s;
          transition-timing-function: ease-in;
        }
      }
    }
    &:after {
      content: none;
    }
  }
  &:nth-child(odd){
    .image-section{
      &:before{
        width: 50%;
        height: 3rem;
        top: -3rem;
        left: 0;
      }
      &:after{
        width: 3rem;
        height: 50%;
        top: 25%;
        right: 0;
      }
    }
  }
  &:nth-child(even){
    .image-section{
      &:before{
        width: 50%;
        height: 3rem;
        bottom: -3rem;
        right: 0;
      }
      &:after{
        width: 3rem;
        height: 50%;
        top: 25%;
        left: 0;
        z-index: 1;
      }
    }
  }


  &:nth-child(3n+1) {
    span.icon{
      color: $nkh-lightblue;
    }
    .landing_additional {
      span{
        background-image: linear-gradient(180deg,transparent 0,$nkh-lightblue 0);
      }
      &:hover{
        span{
          background-image: linear-gradient(180deg,transparent 0, $nkh-lightblue 0);
        }

      }
    }
    .image-section{
      &:before,
      &:after{
        background: $nkh-lightblue;
      }
    }
    a{
      &:hover{
        picture{
          &:after{
            background: $nkh-lightblue;
          }
        }
      }
    }


  }
  &:nth-child(3n+2) {
    span.icon{
      color: $nkh-brightyellow;
    }
    .landing_additional {
      span{
        background-image: linear-gradient(180deg,transparent 0, $nkh-brightyellow 0);
      }
      &:hover{
        span{
          background-image: linear-gradient(180deg,transparent 0, $nkh-brightyellow 0);
        }


      }
    }
    .image-section{
      &:before,
      &:after{
        background: $nkh-brightyellow;
      }
    }
    a{
      &:hover{
        picture{
          &:after{
            background: $nkh-brightyellow;
          }
        }
      }
    }
  }
  &:nth-child(3n+3) {
    span.icon{
      color: $nkh-green;
    }
    .landing_additional {
      span{
        background-image: linear-gradient(180deg,transparent 0,$nkh-green 0);
      }
      &:hover{
        span{
          background-image: linear-gradient(180deg,transparent 0, $nkh-green 0);
        }

      }
    }
    .image-section{
      &:before,
      &:after{
        background: $nkh-green;
      }
    }
    a{
      &:hover{
        picture{
          &:after{
            background: $nkh-green;
          }
        }
      }
    }
  }
  @include breakpoint($min1024) {
    a{
      display:flex;
      max-width:100%;
      align-items: center;
    }
    .image-section,
    .content-section{
      width: 50%;
      max-height: 490px;
      margin: 0;
      align-items: start;
      div{
        margin: 0;
      }
    }
    .image-section{
      &:before{
        -webkit-mask-size: 1300%;
      }
      &:after{
        -webkit-mask-size: 300%;
      }
    }
    &:nth-of-type(odd){
      a{flex-direction: row;}
      .image-section{
        &:before{
          top: 7rem;
          right: -5rem;
          width: 15%;
          height: 50%;
          z-index: 1;
          left: auto;
        }
        &:after{
          width: 50%;
          height: 90%;
          top: -2rem;
          left: -3rem;
          z-index: -1
        }
      }
      .content-section{
        padding: 5rem 0 5rem 9rem;
      }
    }
    &:nth-of-type(even){
      a {flex-direction: row-reverse;}
      .image-section{
        &:before{
          top: 15rem;
          left: -4rem;
          width: 15%;
          height: 50%;
          z-index: 1;
        }
        &:after{
          right: -3rem;
          bottom: -2.5rem;
          width: 60%;
          height: 94%;
          z-index: -1;
          top: auto;
          left: auto;
        }
      }
      .content-section{
        padding: 5rem 6rem 5rem 0;
      }
    }
  }
}

.block-views-block-hunger-facts-data-summer {
  background: url(../../images/summer-nutrition.jpg);
}
.block-views-block-hunger-facts-data-school-breakfast {
  background: url(../../images/school-breakfast.jpg);
}
.block-views-block-hunger-facts-data-snap {
  background: url(../../images/snap.jpg);
}
.block-views-block-hunger-facts-data-food-insecurity {
  background: url(../../images/food-insecurity.jpg);
}

[class*="block-views-blockhunger-facts-data"] {
  max-width: 800px;
  min-height: 400px;
  margin: 4rem auto 7rem;
  position: relative;
  background-size: cover;
  background-position: center center;
  .form-actions {
    @include element-invisible;
  }
  .form-type-select, select {
    width: 100%;
    background: transparent;
    border: 0 none;
    color: $white;
    font-size: 1.8rem;
  }
}
//the content inside the hunger fact block
.hunger-fact {
  background: rgba($nkh-orange, .9);
  position: relative;
  padding: 2rem 2rem 1rem 3rem;
  color: $white;
  @include breakpoint($min768) {
    position: relative;
    bottom: -5rem;
    width: 50%;
    right: 7rem;
    padding: 3rem 3rem 2.5rem 4rem;
  }
  &:after{
    -webkit-mask: url('/themes/custom/nkh/images/nkh-canvas-orange.png') 0 0 / 300%;
    background: $nkh-orange;
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    mix-blend-mode: lighten;
    top: 0;
    left: 0;
    z-index: 0;
  }
  h2 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 0 2rem;
    display: block;
    position: relative;
    z-index: 100;
    color: $white;
  }
  p{
    line-height: 1.6;
    font-size: 1.6rem;
    font-weight: 300;
  }
  .view-content {
    font-size: 8rem;
  }
}
.entity--cta-image {
  max-width: 800px;
  margin: 4rem auto 7rem;
  position: relative;
  .image-section{
    margin: 0;
    position: relative;
    div{
      margin: 0;
    }
  }
  img{
    opacity: .9;
    background: $nkh-orange;
  }
  picture{
    position: relative;
    display: block;
    &:after{
      display: block;
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      mix-blend-mode: color;
      top: 0;
      background: rgba($nkh-orange, .9);
    }
  }
  .content-section{
    background: rgba($nkh-orange, .9);
    position: relative;
    padding: 2rem 2rem 1rem 3rem;
    @include breakpoint($min768) {
      position: absolute;
      bottom: -5rem;
      width: 50%;
      right: 7rem;
      padding: 3rem 3rem 2.5rem 4rem;
    }
    &:after{
      -webkit-mask: url('/themes/custom/nkh/images/nkh-canvas-orange.png') 0 0 / 300%;
      background: $nkh-orange;
      display: block;
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      mix-blend-mode: lighten;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }
  *{
    color: $white;
  }
  .landing_title{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 0 2rem;
    display: block;
    position: relative;
    z-index: 100;
    span{
      background-image: linear-gradient(180deg, transparent 0,$white 0);
      background-repeat: no-repeat;
      background-position: 0 1.25em;
      padding-bottom: 0.5rem;
      transition: background-position .1s ease-out;
      word-break: break-word;
    }
    &:hover span{
      background-position: 0 1.15em;
    }
  }
  p{
    line-height: 1.6;
    font-size: 1.6rem;
    font-weight: 300;
  }
  a{
    &:after {
      content: none;
    }
  }
}
//to override all span.icon class
.embedded-entity{
  margin-bottom: 1em;
  &[class*='entity']{
    .landing_title{
      span.icon{
        background-image: none;
      }
      + &:hover{
        span.icon{
          background-image: none;
        }
      }
    }
  }
}
