div[data-quickedit-entity-id*="hunger_fact"],
.entity--hunger-fact{
  background: url('/themes/custom/nkh/images/nkh-canvas-darkgrey.png');
  background-size: 800px;
  padding: 2rem;
  margin: 8rem -20px;
  overflow: hidden;

  @include breakpoint($min768) {
    width: calc(100vw + 40px);
  }
  *{
    color: $white;
    letter-spacing: .1rem;
  }
  .entity-content{
    max-width: 1000px;
    //margin: 20px;
    @include breakpoint($min480) {
      margin:0 auto;
    }

    & > a{
      letter-spacing: .025em;
      text-decoration: underline;
      font-size: 1.2rem;
      margin: 2.5rem 0 0.5rem;
      @include breakpoint($min1024) {
        margin: 2rem 0 3rem;
      }
      &:after{
        content: none;
      }
    }
    & > a,
    .hunger-fact-title{
      width: 100%;
      display: block;
    }
  }
  .field--name-field-statistic-hunger{
    padding-bottom: 0;
    -webkit-mask: url('/themes/custom/nkh/images/solid.svg');
    -webkit-mask-size: 50%;
    color: $white;
    position: relative;
    line-height: 1;
    font-size: 13vw;
    @include breakpoint($min768) {
      font-size: 10vw;
    }
    @include breakpoint($min1024) {
      font-size: 10.4rem;
    }
    span {
      white-space: unset;
      word-wrap: break-word;
      overflow-wrap: break-word;
      letter-spacing: -.01em;
      &:after {
        background: url('/themes/custom/nkh/images/nkh-canvas-orange.png') repeat;
        background-size: 1200px;
        mix-blend-mode: multiply;
        opacity: .85;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        z-index: -1;
      }
    }
  }
  .field--name-field-body-hunger{
    &.text-formatted {
      width: auto;
    }
    @include breakpoint($min1024) {
      padding-left: 3rem;
    }
    p{
      background: rgba($nkh-darkgrey, .8);
      font-weight: 300;
      line-height: 1.2;
      display: inline;
      padding: .6rem 0;
      letter-spacing: .025em;
    }
  }
}
.entity-content__details{
  display: block;
  padding: 0;
  @include breakpoint($min1024) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .field--name-field-statistic-hunger,
  .field--name-field-body-hunger{
    margin-bottom: 2rem;
    display: block;
    @include breakpoint($min1024) {
      vertical-align: middle;
      margin: 0;
    }
  }
  .field--name-field-body-hunger{
    margin-left: -2rem;
    display: block !important;
    @include breakpoint($min1024) {
      margin-left: 0;
      flex: 1 200%;
    }
  }
}
.hunger-fact__data{
  @include grit-clip-white;
  line-height: 1;
  margin-bottom: 1rem;
}

.hunger-fact__data,
.hunger-fact-title,
.field--name-field-statistic-hunger{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -.05em;
}

.hunger-fact-title{
  margin: 1.5rem 0 1.5rem;
  @include breakpoint($min1024) {
    margin: 3rem 0 2.5rem;
  }
  font-size: 1.4rem;
}

.page-node-11 {
  [id*="block-hungerfacts"] {
    width: 100vw;
    padding: 0 2rem;
    display: block;
    margin: 0 auto;
    max-width: 1680px;
    @include breakpoint($min768) {
      width: 67vw;
      padding: 0 4rem;
    }
    @include breakpoint($min1024) {
      width: 60vw;
      max-width: 1080px;
    }
    blockquote{
      position: relative;
      width: 100vw;
      left: 50%;
      margin-left: -50vw;
      p {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .view-mode-large,
    .view-mode-feature-caption {
      width: 100vw;
      left: calc(50% + 4rem);
      margin-left: calc(-50vw - 4rem);
      padding: 0 4rem;
      margin-top: 4rem;
      margin-bottom: 4rem;
      .inner-wrap {
        margin: 0 auto;
        max-width: 1600px;
        width: 100%;
        position: relative;
      }
    }

    .media-video {
      max-width: 1000px;
      margin: 4rem auto;
    }
    .entity-landing_link-auto,
    .entity-landing_link-manual{
      max-width: 1200px;
    }

    .entity--cta-text,
    .entity--hunger-fact {
      position: relative;
      width: 100vw;
      left: 50%;
      margin-left: -50vw;
    }

    .entity--cta-text {
      margin-top: 4rem;
      margin-bottom: 4rem;
      .text-formatted {
        width: auto;
        max-width: 1600px;
      }
    }
  }
}
