div[data-quickedit-entity-id*="hunger_fact"],
.entity--hunger-fact{
  background: url('/themes/custom/nkh/images/nkh-canvas-darkgrey.png');
  background-size: 30%;
  padding: 2rem;
  width: calc(100vw + 40px);
  margin-left: 4rem -20px;
  // @include breakpoint($min480) {
  //   width: 100%;
  //   margin-left: 0;
  //   margin-right: 0;
  // }
  overflow: hidden;
  *{
    color: $white;
    letter-spacing: .1rem;
  }
  .entity-content{
    max-width: 1000px;
    margin: 20px;
    @include breakpoint($min480) {
      margin:0 auto;
    }

    & > a{
      text-decoration: underline;
      font-size: 1.2rem;
      margin: 2.5rem 0 0.5rem;
      @include breakpoint($min1024) {
        margin: 2rem 0 3rem;
      }
      &:after{
        content: none;
      }
    }
    & > a,
    .hunger-fact-title{
      width: 100%;
      display: block;
    }
  }
  .field--name-field-statistic-hunger{
    font-weight: 700;
    letter-spacing: 0;
    padding-bottom: 0;
    -webkit-mask: url(/themes/custom/nkh/images/solid.svg);
    -webkit-mask-size: 50%;
    color: $white;
    position: relative;
    line-height: 1;
    font-size: 14vw;
    @include breakpoint($min768) {
      font-size: 10vw;
    }
    @include breakpoint($min1024) {
      font-size: 10.4rem;
    }
    span {
      white-space: nowrap;
      &:after {
        background: url(/themes/custom/nkh/images/nkh-canvas-orange.png) repeat;
        background-size: 1200px;
        mix-blend-mode: multiply;
        opacity: .85;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        z-index: -1;
      }
    }
  }
  .field--name-field-body-hunger{
    @include breakpoint($min1024) {
      padding-left: 3rem;
    }
    p{
      background: rgba($nkh-darkgrey, .8);
      font-weight: 300;
      line-height: 1.2;
      display: inline;
      padding: .6rem 0;
    }
  }
}
.entity-content__details{
  display: block;
  padding: 0;
  @include breakpoint($min1024) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .field--name-field-body-hunger{
    margin-left: -2rem;
    display: block !important;
    @include breakpoint($min1024) {
      margin-left: 0;
      flex: 1 200%;
    }
  }
  .field--name-field-statistic-hunger{
    @include breakpoint($min1024) {
      flex: 1 100%;
    }
  }
  .field--name-field-statistic-hunger,
  .field--name-field-body-hunger{
    margin-bottom: 2rem;
    display: block;
    @include breakpoint($min1024) {
      vertical-align: middle;
      margin: 0;
    }
  }
}
.hunger-fact-title,
.field--name-field-statistic-hunger{
  text-transform: uppercase;
  font-weight: 500;
}

.hunger-fact-title{
  margin: 1.5rem 0 1.5rem;
  @include breakpoint($min1024) {
    margin: 3rem 0 2.5rem;
  }
  font-size: 1.4rem;
}
