//both of this are quite similar so combining the css will reduce file size.
//see _our_work.css for details.
.block-views-block-our-work-our-work,
.block-views-block-our-stories-our-stories,
.block-views-block-featured-content-featured-content {
  max-width: 1600px;
  margin: 2rem auto 6rem;
  @include breakpoint($min1024) {
    width: 90vw;
  }
  a{
    color: $white;
    position: relative;
    display: block;
    text-decoration: none;
    margin: -4rem auto 50px;
    //need this to get some separation
    //min-height: 350px;
    //margin-bottom: 50px;
    //@include breakpoint($min768) {
      //min-height: 450px;
    //}
    @include breakpoint($min1024) {
      //min-height: auto;
      margin: 5rem auto 0;
    }
    &:hover{
      color: $white;
    }
    &:hover,
    &:focus{
      &:after{
        background: none;
      }
    }

    @include clearfix;

    &.icon-video {
      margin: 1rem 0;
    }
  }
  h2{
    color: $nkh-text;
    margin: 0 0 1rem 2rem;
    font-size: 4rem;
    font-weight: 700;
    @include grit-clip-gray;
    letter-spacing: -.2rem;
    @include breakpoint($min540) {
      margin: 0 2rem 1rem 5rem;

    }
    @include breakpoint($min1024) {
      font-size: 3.6rem;
      position: absolute;
      text-align: center;
      margin-top: -.6rem;
      display: block;
      width: 42%;
    }
    @include breakpoint($min1360) {
/*      font-size: 4.8rem;
*/    }
  }
  h3 {
    color: inherit;
  }
  .view-header{
    color: $nkh-lightgrey;
    font-weight: 300;
    margin: 1rem 2rem 5rem;
    font-size: 2rem;
    letter-spacing: -.01em;
    @include breakpoint($min540) {
      margin: 1rem 5rem 5rem;
    }
    @include breakpoint($min1024) {
      font-size: 2.2rem;
      line-height: 3.7rem;
      width: 50%;
      margin: 4em 0 4em 45%;
    }
    @include breakpoint($min1120) {
      width: 52%;
      margin-left: 42%;
    }
  }
  .image-wrapper{
    display: block;
    position: relative;
    overflow: hidden;
    //height: 300px;
    width: 100%;
    img{
      min-width: 100%;
      //min-height: 300px;
    }
    @include breakpoint($min768) {
      //height: 400px;
      img{
        min-width: 0;
        //height: 400px;
        height: auto;
        display: block;
        width: auto;
        margin: 0 auto;
      }
    }
    @include breakpoint($min1024) {
      height: auto;
      img{
        height: auto;
      }
    }
  }
  .our-stories-wrapper, .view-our-work .views-row {
    position: relative;
    @media all and (min-width: 540px) and (max-width: 1023px) {
      max-width: 80vw;
      margin: 2rem auto;
    }
  }
  .video-wrapper {
    display: none;
    z-index: 0;
    padding: 5vh 5vw;
    background-color: rgba($white, .9);
    position: fixed;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    @include breakpoint($min540) {
      padding: 15vh 10vw;
    }
    @include breakpoint($min1024) {
      padding: 10vh 20vw;
    }

    &.show {
      display: block;
      z-index: 10000;
    }

  }
  .icon-close{
    float: right;
    position: absolute;
    padding: 0.6rem 1rem;
    background: $white;
    top: -1.5rem;
    right: -1.5rem;
    border: 1px solid $nkh-text;
    border-radius: 50%;
    font-size: 1.2rem;
  }
  .title-wrapper{
    position: relative;
    z-index: 100;
    width: 100%;

    padding: 3rem 2rem;
    //min-height: 300px;
    .view-title{
      line-height: 1.6;
    }
    @include breakpoint($min540) {
      padding: 3rem 5rem 3rem;
      //max-height: 250px;
    }
    @include breakpoint($min768) {
    //   min-height: 400px;
    margin-top: -20px;
    }
    @include breakpoint($min1024) {
      //max-height: initial;
      position: absolute;
      margin-top: 0;
      top: inherit;
      padding: 3rem 5rem 3rem;
      left: 6%;
      bottom: 3rem;
      width: 45%;
      .view-title{
        line-height: 1.4;
      }
    }

    p{
      font-size: 1.6rem;
      line-height: 1.6;
      font-weight: 300;
      margin: 1.5rem 0 .5rem;
    }

    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: .85;
    }
    &:hover .view-title{
      background-position: 0 1.19em;
    }
  }
  .view-title,
  .series-title{
    margin-bottom: 1rem;
    font-weight: 700;

  }
  .view-title{
    font-size: 3rem;
    line-height: 1.2;
    display: inline;
    letter-spacing: -.025em;
    background-image: linear-gradient(180deg, transparent 0,$white 0);
    background-repeat: no-repeat;
    background-position: 0 1.25em;
    padding-bottom: .55rem;
    transition: background-position .1s ease-out;
    @include breakpoint($min1024) {
      font-size: 3.6rem;
    }
    @include breakpoint($min1360) {
      font-size: 4.8rem;
    }
  }
  .series-title{
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: .025em;
    display: block;
  }
  .read-more{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: .2em;
    border-bottom: 2px solid $white;
    display: inline-block;
  }
  @include breakpoint($min1024) {
    .attachment{
      max-width: 1400px;
      width: 90vw;
      margin: 2rem auto 0;
      padding: 0 5vw;
      .view-title{
        font-size: 3rem;
      }
      .views-element-container{
        .view-title{
          background-position: 0 1.29em;
        }
        .title-wrapper{
          &:hover .view-title{
            background-position: 0 1.2em;
          }
        }
      }
    }
  }
  @include breakpoint($min1360) {
    .attachment{
      padding: 0;
      .view-title{
        font-size: 3.6rem;
      }
    }
  }
}
.block-views-block-our-stories-our-stories,
.block-views-block-featured-content-featured-content {
  margin-bottom: 0;
  .title-wrapper{
    &:after{
      background: url('/themes/custom/nkh/images/nkh-tile-blue.png') 0 0/250px;
    }
  }
  .attachment{
    .view-header{
      margin: 4rem 3.5rem 2rem;
    }
    .views-element-container{
      .view-title{
        line-height: 1.6;
      }
      &:first-child{
        .title-wrapper{
          &:after{
            background: url('/themes/custom/nkh/images/nkh-tile-green.png') 0 0/250px;
          }
        }
      }
      &:nth-child(2){
        .title-wrapper{
          &:after{
            background: url('/themes/custom/nkh/images/nkh-tile-orange.png') 0 0/250px;
          }
        }
        .read-more{
          padding-top: 1.2em;
          display: table-cell;
        }
      }
      &:last-child{
        .title-wrapper{
          &:after{
            background: url('/themes/custom/nkh/images/nkh-tile-gold.png') 0 0/250px;
          }

        }
      }
    }
  }
  @include breakpoint($min1024) {
    .view-id-our_work{
      .image-wrapper{
        height: auto;
        overflow: visible;
      }
      .title-wrapper{
        width: 40%;
        bottom: 45px;
        left: 5%;
        padding: 3rem 5rem 3rem 3rem;
      }

    }
    .attachment{
      .views-element-container{
        display: inline-block;
        max-width:100%;
        vertical-align: top;
        &:first-child{
          width: 56%;
          .view-header {
            padding: 7.5rem 5rem 7rem;
            line-height: 1.8;
            width: 100%;
            margin: 0;
          }
          .view-content{
            .title-wrapper{
              width: 75%;
              left: 8%;
              padding: 3rem 4rem 5rem;
            }
          }
        }
        &:nth-child(2){
          width: 41%;
          margin-left: 1.5%;
          margin-bottom: 10px;
          padding-top: 25px;
          position: relative;
          .image-wrapper{
            overflow-y: hidden;
            max-height: 740px;
          }
          .title-wrapper{
            line-height: 1.4;
            width: 82%;
            bottom: 8rem;
            left: auto;
            right: -20px;
            padding: 2.5rem 3rem 4rem;
          }
          .icon-video{
            margin-left: -1rem;
          }
        }
/*        &:last-child{
          .title-wrapper{
            width: 45%;
            bottom: 70px;
            left: auto;
            padding: 4rem 5rem 2rem;
            right: -2rem;
          }
        }*/
      }
    }
  }
  @include breakpoint($min1360) {
    .attachment .views-element-container{
      &:nth-child(2){
        margin-bottom: 75px;
      }
    }
  }
  span.icon-video{
    font-size: 4em;
    display: block;
    position: absolute;
    margin: 0;
    color: $white;
    cursor: pointer;
    @include breakpoint($min1024) {
      margin-left: -2rem;
    }
    &:hover, focus {
      color: rgb(230, 230, 230);
    }
    &:before {
      vertical-align: top;
    }
  }
  span.icon-video ~ .view-content-wrapper{
    margin-left: 9rem;
  }
}
.entity-homepage-feature {
  max-width: 1400px;
  margin: 2rem auto 6rem;
  position: relative;
  @include breakpoint($min1024) {
    width: 90vw;
    margin-top: -3.5rem;
  }
  a,
  .view-title {
    color: $white
  }
  a{
    display: block;
    z-index: 1;
    position: relative;
    color: $white;
    &:after {
      content: none;
    }
  }
  .image-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 100%;
    @include breakpoint($min768) {
      height: 400px;
    }
    @include breakpoint($min768) {
      height: auto;

    }
  }
  .title-wrapper {
    position: relative;
    z-index: 100;
    width: 100%;
    margin-top: -24%;
    padding: 3rem 2rem;
    height: 350px;


    &:after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: .85;
      background: url(/themes/custom/nkh/images/nkh-tile-gold.png) 0 0/250px;
    }
    @include breakpoint($min540) {
      height: 300px;
      padding: 3rem 5rem;
    }

    @include breakpoint($min1024) {
      position: absolute;
      margin-top: 0;
      top: inherit;
      height: auto;
      z-index: 1;
      width: 45%;
      bottom: 30px;
      left: auto;
      padding: 4rem 5rem 2rem;
      right: -2rem;
    }
    @include breakpoint($min1120) {
      bottom: 70px;
    }
  }
  .series-title,
  p {
    display: block;
    font-size: 1.6rem;
  }
  .series-title {
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: .025em;
    display: block;
  }
  p {
    line-height: 1.6;
    font-weight: 300;
    margin: 1.5rem 0 .5rem
  }
  .view-title,
  .series-title {
    margin-bottom: 1rem;
    font-weight: 700;
  }
  .view-title {
    font-size: 3rem;
    line-height: 1.6;
    display: inline;
    letter-spacing: -.025em;
    background-image: linear-gradient(180deg,transparent 0,#fff 0);
    background-repeat: no-repeat;
    background-position: 0 1.29em;
    padding-bottom: .55rem;
    transition: background-position .1s ease-out;
    @include breakpoint($min1360) {
      font-size: 3.6rem;

    }
  }
  a:hover {
    .view-title {
      background-position: 0 1.2em;
    }
  }
}
