[class*="block-views-blockprofiles-block"] {
  h2, 
  .view-header {
    padding: 0 2rem;
    display: block;
    margin: 0 auto 2rem;
    max-width: 1680px;
    @include breakpoint($min768) {
      width: 67vw;
      padding: 0 4rem;
    }
    @include breakpoint($min1024) {
      width: 60vw;
      max-width: 1080px;
    }
  }
  .view-header {
    margin-bottom: 4rem;
    font-weight: 300;
  }
}
[class*="block-views-blockpartners-block"],
[class*="block-views-blockprofiles-block"] {
  padding: 6rem 4rem;
  max-width: 1260px;
  margin: 0 auto;
  @include breakpoint($min1024) {
    width: 90vw;
  }
  h2 {
    @include grit-clip-gray;
  }
  .view-content {
    display: block;
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .views-row {
/*    width: 24rem;*/
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 1rem 2rem 1rem 1rem;
    line-height: 1.2;
    text-align: left;
    //make sure that each profile is centered once the browser gets really narrow
    @include breakpoint($min480) {
      width: 49.5%;
      margin-right: auto;
      margin-bottom: 2rem;
    }
    @include breakpoint($min1024) {
      width: 24.4%;
    }
    @include breakpoint($min1120) {
      width: 24.5%;
    }
    h3 {
    }
    a {
      font-size: 1.6rem;
      border-bottom: 3px solid transparent;
      transition: border-bottom .1s ease-out;
      &:hover {
        border-bottom: 3px solid $nkh-orange;
      }
    }

  }
  .view-profile-image {
    text-align: center;
  }
  span {
    display: inline;
    font-size: 1.6rem;
    border-bottom: 3px solid transparent;
  }
  img {
    display: inline-block;
  }
  a{
    &:after{
      content: none;
    }
    &:focus,
    &:hover{
      span {
        border-bottom: 3px solid $nkh-orange;
      }
    }
  }
}

// [class*="block-views-blockprofiles-block"] {
//   .view-content {
//     justify-content: space-evenly;
//     flex-grow: 0;
//   }
//   .views-row {
//     width: 24rem;
//   }
// }

[class*="block-views-blockprofiles-block"],
[class*="block-views-block-partners"] {
  a{
    text-decoration: none;
    .view-profile-name {
      color: $nkh-orange;
      text-decoration: underline;
    }
  }
  .view-profile-name {
    margin: 0;
    font-size: 2rem;
  }
  .view-profile-jobtitle {
    font-size: 1.4rem;
    font-weight: 300;
    color: $nkh-text;
  }

}

.logo-grid {
  .view-content {
    align-items: center;
  }
}
