.node--type-resource.node--view-mode-full {
  .share-section {
    margin-bottom: 0;
  }
  form {
    margin-top: 0;
  }
  .field--label-above {
    .field__label {
      font-size: 3rem;
      @include breakpoint($min768) {
        font-size: 3.3rem;
      }      
      font-weight: 700;
      margin: 1em 0 .25em;
    }
    ~ .field--label-above {
      .field__label {
        @extend h3;
      }
    }
  }
  .text-formatted {
    font-size: 1.6rem;
    line-height: 1.8;
    h2, p {
      color: $nkh-text;

    }
  }
}

[id="resource_center_header"] {

  //layout below here
  > .form-wrapper {
    @include clearfix;
    margin: auto;
    position: relative;
    z-index: 10;
    padding: 5rem 5vw 5rem;
    box-sizing: content-box;
    max-width: 1300px;
    margin-top: 3rem;
  }
  .form-item-form-header-image-featured ~ [id="resource_center_title"],
  .form-item-form-header-image-featured ~ [id="resource_center_actions"] {
    text-align: center;
    @include breakpoint($min1120) {
      text-align: left;
      width: 60%;
      float: right;
      clear: right;
      padding: 0 0 0 2rem;
    }
    // @include breakpoint($min1360) {
    //   width: 60%;
    // }
  }
  // .form-item-form-header-image-featured ~ [id="resource_center_actions"] {
  //   justify-content: space-around;
  // }
  .form-item-form-header-image-featured {
    margin: 0 auto 2rem;
    text-align: center;
    @include breakpoint($min1120) {
      text-align: left;
      float: left;
      width: 40%;
      padding: 0 4rem 0 0;
    }
    img {
      border: 1px solid #b7b7b7;      
    }
    // @include breakpoint($min1360) {
    //   width: 40%;
    // }
  }

  //styling below here

  h1 {
    margin: 1rem 0 1rem;
    letter-spacing: -.2rem;
    font-size: 3.8rem;
    @include breakpoint($min540) {
      font-size: 4.2rem;
    }
    @include breakpoint($min768) {
      font-size: 4.5rem;
    }
  }
  [id="resource_center_title"] {
    padding-top: 3rem;
    span {
      font-size: 1.7rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
[id="resource_center_actions"] {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 1.5rem;
  @include breakpoint($min1120) {
    justify-content: space-between;
  }
  button,
  input[type="submit"] {
    background-color: transparent;
    color: $nkh-text;
    padding-right: 0;
    padding-left: 4rem;
    font-size: 1.6rem;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 3rem;
    @include breakpoint($min480) {
      margin-left: 1rem;  
    }
    &:hover, &:focus, &:active {
      color: $nkh-orange;
      background-color: transparent;
    }
  }
  .resource-input-button {
    position: relative;
    display: inline-block;      
    &:after {
      margin-left: 4rem;
    }  
    @include breakpoint($min480) {
      &:after {
        margin-left: 5rem;
      }
    }
    input {
      display: block;
    }
  }
  button,
  .resource-input-button {
    &:after {
      content: '';
      display: block;
      border-bottom: 2px solid transparent;
    }
    &:hover, &:focus, &:active {
      &:after {
        border-bottom: 2px solid $nkh-orange;
      }
    }
  }
  // the download button
  [data-drupal-selector*="form-actions-download-single"] {
    background-image: url(../svg/origin/download.svg);
    margin-left: 0;
  }
  //the copy shareable link button
  [data-drupal-selector*="form-actions-copy-single"] {
    background-image: url(../svg/origin/copy.svg);
  }
  //the bulk download button
  [id*="form-actions-add-resource"] {
    background-image: url(../svg/origin/add.svg);
  }
}
//end resource_center_header
//start download bar
[id="ajax_resource_container"] {
  position: fixed;
  top: 0; //setting it to drop down from the top when at mobile
  left: 0;
  width: 100%;
  background: $white;
  z-index: 100;

  @include breakpoint($min1024) {
    bottom: 0; //setting it to slide up from the bottom at desktop
    top: auto;
  }
}
[id="edit-resource-container"] {
  display: flex;
  flex-direction: column-reverse; //setting it to drop down from the top when at mobile
  @include breakpoint($min1024) {
    flex-direction: column; //setting it to slide up from the bottom at desktop
  }
}
// the toolbar across the top of the download tray
.nkh_resource_container_options {
  // display: flex;
  // flex-direction: row;
  // flex-grow: 1;
  background: $nkh-orange;
  color: $white;
  // justify-content: center;
  // align-items: center;
  text-align: center;
  padding: 1rem 4rem;
  @include breakpoint($min1024) {
    padding: 2rem 4rem;
  }
  .resource-item-count {
    font-weight: 700;
    font-size: 2.2rem;
    @include breakpoint($min1024) {
      font-size: 3rem;
    }
  }
  // download all items button
  .form-submit {
    margin: 0 1rem;
    background: $white;
    color: $nkh-text;
    text-transform: uppercase;
    font-weight: 700;
    &:hover, &:active, &:focus {
      background: $white;
      color: $nkh-orange;
    }
  }
  // the toggle button to open/close the bulk tray
  [id="resource_collapse_button"] {
    float: right;
    text-transform: uppercase;
    font-size: 1.4rem;
    &:after {
      @include icon($icon-caret);
      color: $white;
      transform: rotate(90deg);
      display: inline-block;
      margin-left: 2rem;
    }
    @include breakpoint($min1024) {
      font-size: 1.6rem;
    }
  }
}

// the list of download items in the bulk download tray
[id="ajax_resource_container"] [id="nkh_resource_list"] {
  transition: height .2s;
  &.open {
    height: 25vh;
    overflow-y: scroll;
  }
  &.closed {
    height: 0;
  }
  //the wrapper around the download
  > div {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem 4rem;
  }
  // each download
  .container-inline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
  }
  // button to remove the download from the bulk list
  .form-submit {
    //@include element-invisible;
  }
}

.resource--teaser {
  h3 {
    font-size: 2.2rem;
    line-height: 1.6;
    color: #383d44;
    letter-spacing: -.025em;
    display: block;
    margin: .5rem 0 1rem;
    padding: 0 2rem;
    span{
      padding-bottom: .55rem;
      background-image: linear-gradient(180deg, transparent 0, $nkh-text 0);
      background-repeat: no-repeat;
      background-position: 0 1.35em;
      transition: background-position .1s ease-out;
      display: inline;
    }
  }
  &:focus,
  &:hover{
    h3 span{
      background-position: 0 1.2em;
    }
  }
  &__overlay {
    position: relative;
    height: 36vw;
    overflow: hidden;
    background-color: #E1E1E1;
    margin-bottom: 2rem;
    @include breakpoint($min768){
      height: 23.5vw;
    }
    @include breakpoint($min1024) {
      height: 23.5vw;
    }
    @include breakpoint($min1120) {
      height: 17.5vw;
    }
    @include breakpoint($min1360) {
      height: 16.5vw;
    }
    @include breakpoint($min1680){
      height: 280px;
    }
    .field--name-field-image-featured,
    .field--name-field-image {
      margin: 0;
      .media-image {
        position: static;
      }
    }
    .color-overlay {
      opacity: 0;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($nkh-orange, .4);
      padding: 20px;
      transition: all .2s;
    }
    .body {
      display: block;
      margin: 0;
      position: absolute;
      top: 16px;
      left: 16px;
      width: calc(100% - 32px);
      height: calc(100% - 32px);
      background: rgba($nkh-orange, .7);
      color: $white;
      opacity: 0;
      padding: 16px;
      transition: all .2s;
      font-size: 1.6rem;
      line-height: 1.4;
      overflow: hidden;
    }
  }
  &__link {
    &:after {
      content: none;
    }
    &:hover, &:focus, &:active {
      .body,
      .color-overlay {
        opacity: 1;
      }
    }
  }
}
//default
[class*="file-type--"] .resource--teaser__overlay {
  background: #E1E1E1 center center no-repeat;
  background-size: cover;
}
//word
[class*="file-type--"][class*="word-document"] .resource--teaser__overlay {
  background-image: url('/themes/custom/nkh/images/resource-word_mini.jpg');
}
//video
[class*="file-type--"][class*="video"] .resource--teaser__overlay {
  background-image: url('/themes/custom/nkh/images/resource-video_mini.jpg');
}
//design files
[class*="file-type--"][class*="design-files"] .resource--teaser__overlay {
  background-image: url('/themes/custom/nkh/images/resource-design_mini.jpg');
}
//images
// [class*="file-type--"][class*="image"] .resource--teaser__overlay {
//   background-image: url('/themes/custom/nkh/images/resource-image_mini.jpg');
// }
//pdfs
[class*="file-type--"][class*="pdf"] .resource--teaser__overlay {
  background-image: url('/themes/custom/nkh/images/resource-pdf_mini.jpg');
}
[class*="file-type--"][class*="excel"] .resource--teaser__overlay {
  background-image: url('/themes/custom/nkh/images/resource-excel_mini.jpg');
}

.field.field--name-field-file-type {
  color: $nkh-text;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
  margin: 1rem 0 0;
  padding: 0 2rem;
}

[id="nkh_resource_view_listing"] > [id="edit-resource"] {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-around;
  padding: 1rem 0;
  @include breakpoint($min768) {
    justify-content: space-evenly;
    padding: 1rem 2rem 1rem 0;
  }
  @include breakpoint($min1024) {
    justify-content: space-between;
  }
}
.resource-container-inline {
  max-width: 50rem;
  padding: 3rem;
  text-align: left;
  //make sure that each resource is centered once the browser gets really narrow
  margin: auto;
  @include breakpoint($min540) {
    margin: 0;
  }
  @include breakpoint($min768) {
    width: 50rem;
    max-width: 50%;
    padding: 1rem;
  }
  @include breakpoint($min1024) {
    max-width: 100%;
    padding: 3rem;
  }
  @include breakpoint($min1120) {
    max-width: 49.75%;
    padding: 1rem;
  }
  @include breakpoint($min1360){
    padding: 3rem;
  }
  [id="resource_center_actions"] button, [id="resource_center_actions"] input[type="submit"] {
    display: block;
    margin: 0 0 .3rem 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    background-size: 2.5rem;
    padding: .5rem 1rem .5rem 3rem;
  }
  .resource-input-button {
    &:after {
      margin: -.7rem 1rem 1rem 3rem;
    }
  }
}
// the featured resources
.block-views-block-featured-resources-block-1 {
  background: $white;
  // .resource--teaser__overlay {
  //   background-color: $nkh-bone;
  // }
  .view-content {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    @include breakpoint($min768) {
      justify-content: space-evenly;
    }
    @include breakpoint($min1024) {
      justify-content: space-between;
    }
  }
  .views-row {
    max-width: 50rem;
    padding: 3rem;
    text-align: left;
    margin: auto;
    @include breakpoint($min540) {
      margin: 0;
    }
    @include breakpoint($min768) {
      width: 50rem;
      max-width: 50%;
      padding: 1rem;
    }
    @include breakpoint($min1024) {
      //max-width: 100%;
      padding: 3rem;
    }
    @include breakpoint($min1120) {
      max-width: 33%;
      padding: 1rem;
    }
    @include breakpoint($min1360){
      padding: 3rem;
    }
  }
}
.block-views-block-featured-resources-block-1 h2,
.view-featured-resources {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 4rem;
}
.view-featured-resources {
  background: $white;
  position: static;
  &:before {
    background: $white;
    margin-top: 0;
    margin-left: -50%;
    z-index: 2;
    height: 5rem;
  }
  .view-header {
    &:after {
      background: $nkh-orange;
    }
    h2 {
      position: relative;
      background: $white;
    }
  }
}
.block-views-block-featured-resources-block-1 h2 {

}
.js-form-item[class*="form-actions-file-url"]  {
  margin: 1rem 0 0;
  input {
    width: 100%;
    min-width: auto;
    background: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
//for listing page override only
.nkh-resource-center-listing{
  .js-form-item[class*="form-actions-file-url"] {
    margin: -.5rem 0 0 3rem;
    input {
      border: none;
    }  
  }
}



// resource listing
.path-resource-center {
  main {
    background: $nkh-bone;
  }
  #content {
    @include clearfix;
    max-width: 1600px;
    padding: 4rem;
    margin: 0 auto;
  }
  .region-preface {
    background: $nkh-orange;
  }

}
.page-node-type-resource {
  .breadcrumb a {
    margin-left: 2rem;
    &:before {
      @include icon($icon-caret);
      color: $nkh-text;
      transform: rotate(180deg);
      display: inline-block;
      transform: rotate(180deg);
      display: inline-block;
      margin-right: 1rem;
      margin-left: -2rem;
    }
  }
}
.block-resourcecentertitle,
.block-resourcecenterintroduction {
  color: $white;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4rem;
}
.block-resourcecentertitle {
  text-align: center;
  padding-top: 8rem;
}
.block-resourcecenterintroduction {
  padding-bottom: 4rem;
}
.nkh-resource-center-listing {
  @include breakpoint($min1024) {
    float: right;
    width: 50%;
  }
  @include breakpoint($min1120) {
    width: 66%;
  }
  .query-filter__label{
    padding-left: 1rem;    
    @include breakpoint($min1024) {
      padding-left: 3rem;
    }
    @include breakpoint($min1120) {
      padding-left: 1rem;
    }
    @include breakpoint($min1360) {
      padding-left: 3rem;
    }
  }
}
[class*="block-exposedformresource-viewpage"] {
  @include breakpoint($min1024) {
    float: left;
    width: 50%;
    padding: 2rem;
  }
  @include breakpoint($min1120) {
    width: 33%;
  }
  @include breakpoint($min1360) {
    padding: 4rem;
  }
  position: relative;
  &:before {
    content: '';
    display: block;
    height: 30rem;
    width: 60%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('/themes/custom/nkh/images/nkh-tile-orange.png') 0 0/250px;
  }
  form {
    background: $white;
    padding: 1rem 4rem 2rem;
    margin-top: 0;
    position: relative;
  }
  fieldset.form-item {
    border: 0 none transparent;
    margin: 1rem 0;
    float: none;
    width: 100%;
  }
  .form-item.form-type-textfield,
  .form-item.form-type-select {
    margin: 1rem 0 2.6rem;
    float: none;
    width: 100%;
  }
  .form-type-textfield label {
    @extend h2;
    margin-bottom: 1rem;
  }
  legend, .form-item.form-type-select label {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  .form-item {
    margin: .5rem 0;
    font-size: 1.4rem;
    padding-left: 2rem;
    label {
      font-weight: 700;
    }
    input[type="radio"],
    input[type="checkbox"] {
      + .field-label:before,
      + label:before {
        background: $nkh-bone;
        margin-left: -2rem;
        border: 1px solid #efefef;
      }
      + .field-label:before,
      + label:before, 
      + label:after {
        position: absolute;
        margin-top: .3rem;
      }

      &:checked {
        + .field-label:before,
        + label:before {
        }
        + label:after {
          content: $icon-checkmark;          
          font-size: 1rem;
          margin-left: -1.9rem;
        }
      }
    }
  }
  .form-submit {
    @include link-button;
    clear: both;
    display: block;
    margin: 1rem auto;
    font-size: 14px;
    padding: 1rem 3rem;
    &.js-hide{
      @include element-invisible;
    }
  }

  input.form-text, select.form-select {
    border: 0 transparent;
    background: $nkh-bone;
    height: 4rem;
    min-width: auto;
    width: 100%;
  }
}

//Remove Header Donate Button for mobile
.path-resource-center,
.page-node-type-resource {
  #header {
    .header-wrapper {
      min-height: 80px;
      // see PR pull/183
      @include breakpoint($min1024) {
        min-height: 100px;
      }
      @include breakpoint($min1360) {
        min-height: 115px;
      }
    }
    .nkh-logo {
      bottom: 1.5rem;
    }
    .menu-toggle {
      bottom: 3rem;      
    }
    .block-donate.block {
      display: none;
      @include breakpoint($min1024) {
        display: inline-block;
      }
    }
  }
}