.node--type-resource.node--view-mode-full {
  .share-section {
    margin-bottom: 0;
  }
  form {
    margin-top: 0;
  }
  .field--label-above {
    .field__label {
      @extend h2;
      font-weight: 700;
      margin: 1em 0 .25em;
    }
    ~ .field--label-above {
      .field__label {
        @extend h3;
      }
    }
  }
}

[id="resource_center_header"] {

  //layout below here
  > .form-wrapper {
    @include clearfix;
    margin: auto;
    position: relative;
    z-index: 10;
    padding: 5rem 5vw 5rem;
    box-sizing: content-box;
    max-width: 1300px;
    margin-top: 3rem;
  }
  .form-item-form-header-image-featured ~ [id="resource_center_title"],
  .form-item-form-header-image-featured ~ [id="resource_center_actions"] {
    @include breakpoint($min1120) {
      width: 50%;
      float: right;
      padding: 0 0 0 4rem;
    }
    @include breakpoint($min1360) {
      width: 60%;
    }
  }
  .form-item-form-header-image-featured {
    margin: 0 auto 2rem;
    @include breakpoint($min1120) {
      float: left;
      width: 50%;
      padding: 0 4rem 0 0;
    }
    @include breakpoint($min1360) {
      width: 40%;
    }
  }

  //styling below here

  h1 {
    margin: 1rem 0 1rem;

    font-size: 3.8rem;
    @include breakpoint($min540) {
      font-size: 4.5rem;
    }
    @include breakpoint($min768) {
      font-size: 5rem;
    }
    @include breakpoint($min960) {
      font-size: 6rem;
    }
    @include breakpoint($min1120) {
      font-size: 8rem;
    }
  }
  [id="resource_center_title"] {
    padding-top: 3rem;
    span {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  [id="resource_center_actions"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    button,
    input[type="submit"] {
      background-color: transparent;
      color: $nkh-text;
      padding-right: 0;
      padding-left: 4rem;
      margin-left: 1rem;
      font-size: 1.6rem;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 3rem;
      &:hover, &:focus, &:active {
        text-decoration: underline;
      }
    }
  }
  // the download button
  [data-drupal-selector="edit-form-header-form-actions-download-single"] {
    background: url(../svg/origin/download.svg);
    margin-left: 0;
  }
  //the copy shareable link button
  [data-drupal-selector="edit-form-header-form-actions-copy-single"] {
    background: url(../svg/origin/copy.svg);
  }
  //the bulk download button
  [id="edit-form-header-form-actions-add-resource"] {
    background: url(../svg/origin/add.svg);
  }


}
//end resource_center_header
//start download bar
[id="ajax_resource_container"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 100;

  @include breakpoint($min1024) {
    bottom: 0;
    top: auto;
  }
}
[id="edit-resource-container"] {
  display: flex;
  flex-direction: column-reverse;
  @include breakpoint($min1024) {
    flex-direction: column;
  }
}
[id="nkh_resource_list"] {
  transition: height .2s;
  &.open {
    height: 25vh;
    overflow-y: scroll;
  }
  &.closed {
    height: 0;
  }
}

.resource--teaser {
  &__overlay {
    position: relative;
    min-height: 300px;
    .field--name-field-image-featured {
    }
    .color-overlay {
      opacity: 0;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($nkh-orange, .7);
      padding: 20px;
      transition: all .2s;
    }
    .field--name-body {
      margin: 0;
      position: absolute;
      top: 20px;
      left: 20px;
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      background: rgba($nkh-orange, .7);
      color: $white;
      opacity: 0;
      padding: 20px;
      transition: all .2s;
    }
  }
  &__link {
    &:after {
      content: none;
    }
    &:hover, &:focus, &:active {
      .field--name-body,
      .color-overlay {
        opacity: 1;
      }
    }
  }
}

.field--name-field-file-type {
  color: $nkh-text;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
}

[id="nkh_resource_list"] > [id="edit-resource"] {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-evenly;
}
.resource-container-inline {
  width: 48rem;
  padding: 3rem;
  text-align: left;
  //make sure that each resource is centered once the browser gets really narrow
  margin: auto;
  @include breakpoint($min540) {
    margin: 0;
  }
  @include breakpoint($min1120) {
    width: 50%;
  }
}
