// Colors
$black: #333;
$ltblue: #96B4CE;
$blue: #326CB1;
$medblue: #2f6BAA;
$ltgray: #A2A2A2;
$medgray: #666;
$gray: #333;
$owhite: #F2F2F2;
$white: #FFF;


// nkh colors
$nkh-bone: rgba(246,245,243, 1);
$nkh-orange: rgba(254,106,13, 1);
$nkh-darkorange: rgba(240,104,47, 1);
$nkh-darkerorange: rgba(227,90,3, 1);
$nkh-footer-lightergrey: rgba(200,204,210, 1);
$nkh-lightergrey: rgba(163,163,163, 1);
$nkh-lightgrey: rgba(148,152,158, 1);
$nkh-darkgrey: rgba(131,134,139, 1);
$nkh-darkgrey-hover: rgba(119,122,126, 1);
$nkh-darkergrey: rgba(56,61,68 ,1);
$nkh-darkergrey-button: rgba(77,84,93 ,1);
$nkh-yellow: rgba(136,182,49, 1);
$nkh-green: rgba(150,183,76, 1);
$nkh-brightyellow: rgba(253,193,45, 1);
$nkh-lightblue: rgba(72,192,231, 1);


// global use cases
$dark: $black;
$light: $owhite;
$highlight: $nkh-orange;
$nkh-text: $nkh-darkergrey;


// style swatches in fabricator
.light {
  border-color: $light;
}
.dark {
  border-color: $dark;
}
.highlight {
  border-color: $highlight;
}

// generate color palettes 
$themes:(
  bone: $nkh-bone,
  orange: $nkh-orange,
  darkorange: $nkh-darkorange,
  darkerorange: $nkh-darkerorange,
  footer-lightergrey: $nkh-footer-lightergrey,
  lightgrey: $nkh-lightgrey,
  darkgrey: $nkh-darkgrey,
  darkergrey: $nkh-darkergrey,
  darkergrey-button: $nkh-darkergrey-button,
  yellow: $nkh-yellow,
  brightyellow: $nkh-brightyellow,
  green: $nkh-green,
  lightblue: $nkh-lightblue
);

@mixin theme($name, $color) {
  .box__nkh-#{$name} {
    background: $color
  }
  .border__nkh-#{$name} {
    border-color: $color
  }
}

// Including themes 
// By looping through the $themes map
@each $key, $value in $themes {
  @include theme($key, $value);
}

