{#
/**
 * @file
 * Default theme implementation of a container used to wrap embedded entities.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - children: The rendered child elements of the container.
 *
 * @see template_preprocess_entity_embed_container()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'entity--hunger-fact',
  ]
%}
<div {{ attributes.addClass(classes) }}>
  <div class="entity-content">
    <span class="hunger-fact-title">Hunger Fact:</span>
    <div class="entity-content__details">
      {{ entity }}
    </div>
    <a href="#">Learn More About Hunger in America</a>
  </div>

</div>

